<head>
		<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
  	<script src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
</head>

<!-- Pattern Library Header -->
<p>Add header partial</p>

<div class="page-header slate slate--red">
	<div class="wrapper">
		<p>Add breadcrumb partial</p>
	  <p class="page-header__title">
			<strong>Freedom of information (FOI)</strong>
		</p>
		<h1 class="page-header__title flush--half--bottom">{{name}}</h1>
		<div class="grid-wrap">
			<p class="grid-col tablet-grid-one-quarter">
				<span>Release date: </span><br/>{{releaseDate}}
			</p>
		</div>
		<p>Add social icons partial</p>
	</div>
</div>
<!-- /page-header 'slate' -->
<div class="wrapper panel--mar">
	<div class="grid-wrap">
		<div class="grid-col desktop-grid-two-thirds">
			<h2>Summary of request</h2>
			<p>
				{{requestSummary}}
			</p>
			<h2>Summary of response</h2>
			<p>
				{{responseSummary}}
			</p>
		</div>
		<!-- /desktop-grid-two-thirds -->
		<div class="grid-col desktop-grid-one-third">
			<article class="box solid box--purple--separated--left">
				<div class="box__inner border box--padded">
					<h3 class="box__section__header">
							Making an FOI request
					</h3>
					<!-- /box__header -->
					<div class="box__content">
						<a href="#">Everything you need to know about Freedom of Information and how to go about making a request.</a>
					</div>
					<!-- /box__content -->
				</div>
				<!-- /box__inner -->
			</article>
			<!-- /box -->
		</div>
		<!-- /desktop-grid-one-third -->
	</div>
	<!-- /grid-wrap -->
</div>
<!-- /wrapper -->
<p>
	Add footer partial
</p>

<script src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
