<!DOCTYPE html>
<html>
<head>
	<title>Local stats</title>

	<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.css" />
    <script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
</head>
<body>
	<article class="wrapper">
		<div class="grid-wrap panel panel--separated--bottom">
			<header>
				<h2>Population</h2>
			</header>
			<div class="grid-col desktop-grid-one-half">
				<dl class="grid-wrap flush--top flush--bottom panel panel--separated--bottom ">
					<dt class="grid-col desktop-grid-one-half">
						<h3 class="stat__figure delta"><a href="#">Total</a></h3>
					</dt>
					<dd class="grid-col desktop-grid-one-half flush">
						<div class="stat__figure delta">
							257<span class="stat__figure__unit">units</span>
							<br/>
							<span class="stat__description">Mar 2014</span>
						</div>
					</dd>
				</dl>
				<dl class="grid-wrap flush--top flush--bottom panel panel--separated--bottom">
					<dt class="grid-col desktop-grid-one-half">
						<h3 class="stat__figure delta"><a href="#">Males</a></h3>
					</dt>
					<dd class="grid-col desktop-grid-one-half flush">
						<div class="stat__figure delta">
							128<span class="stat__figure__unit">units</span>
							<br/>
							<span class="stat__description">Mar 2014</span>
						</div>
					</dd>
				</dl>
				<dl class="grid-wrap panel flush--top flush--bottom">
					<dt class="grid-col desktop-grid-one-half">
						<h3 class="stat__figure delta"><a href="#">Females</a></h3>
					</dt>
					<dd class="grid-col desktop-grid-one-half flush">
						<div class="stat__figure delta">
							129<span class="stat__figure__unit">units</span>
							<br/>
							<span class="stat__description">Mar 2014</span>
						</div>
					</dd>
				</dl>
			</div>
			<div class="grid-col desktop-grid-one-half">
				<img src="http://placehold.it/875x400&amp;text=Chart+goes+here" alt="Chart title" width="auto" height="230">
			</div>
		</div>
	</article>
	<footer>
		<script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
	</footer>
</body>
</html>