<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>T12</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="on" http-equiv="cleartype" />
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]><![endif]-->
    <!--[if lte IE 8]>
<link rel="stylesheet" href="./dist/css/oldie.css"/>
<![endif]-->
    <!--[if gt IE 8]><!-->
<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
<![endif]-->
    <script src="../../node_modules/ONS-Pattern-Library/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
  </head>
  <body class="">
    <a class="skiplink visuallyhidden focusable" href="#main" tabindex="0">
        <span>Skip to main content</span>
    </a>
    <header class="global-header">
        <div class="global-header__wrapper">
            <a class="main-logo" href="/">
                <img src="http://onsdigital.github.io/pattern-library/ui/img/ons-logo.svg" alt="Office for National Statistics">
            </a>
            <ul class="nav globaltop-nav">
                <li>
                    <a href="#">Release Calendar</a>
                </li>
                <li>
                    <a href="#">Methodology</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </header>
    <nav class="ons-nav">
        <ul class="nav nav--controls">
            <li class="nav--controls__menu">
                <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
                    <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
                    <span class="nav--controls__text">Menu</span>
                </a>
            </li>
            <li class="nav--controls__search">
                <a href="#nav-search" id="search-toggle" aria-controls="nav-search">
                    <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
                    <span class="nav--controls__text">Search</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav--block nav--primary" id="nav-primary">
            <li class="nav--primary__hide-small-med">
                <a href="/pages/t1">Home</a>
            </li>
            <li class="nav__expandable js-expandable">
                <a href="#">Business, Industry, and Trade</a>
                <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                    <li>
                        <a href="#">Business</a>
                        </li>
                        <li>
                            <a href="#">Changes to business</a>
                        </li>
                        <li>
                            <a href="#">Construction and industry</a>
                        </li>
                        <li>
                            <a href="#">IT and internet industry</a>
                        </li>
                        <li>
                            <a href="#">International trade</a>
                        </li>
                        <li>
                            <a href="#">Manufacturing and production</a>
                        </li>
                        <li>
                            <a href="#">Retail industry</a>
                        </li>
                        <li>
                            <a href="#">Tourism industry</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable nav--primary__active">
                    <a href="/pages/t3">Economy</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Economic output and productivity</a>
                        </li>
                        <li>
                            <a href="#">Environmental account</a>
                        </li>
                        <li class="nav--primary__active">
                            <a href="#">Government, public sector, and taxes</a>
                        </li>
                        <li>
                            <a href="#">Gross Domestic Product (GDP)</a>
                        </li>
                        <li>
                            <a href="#">Gross Values Added (GVA)</a>
                        </li>
                        <li>
                            <a href="/pages/t3">Inflation and price indices</a>
                        </li>
                        <li>
                            <a href="#">Investment and pension trust</a>
                        </li>
                        <li>
                            <a href="#">National accounts</a>
                        </li>
                        <li>
                            <a href="#">Regional accounts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">Employment and Labour Market</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">People in work</a>
                        </li>
                        <li>
                            <a href="#">People not in work</a>
                        </li>
                        <li>
                            <a href="#">Public sector personnel</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">People, Population, and Community</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Births, deaths, and marriages</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li>
                            <a href="#">Education and childcare</a>
                        </li>
                        <li>
                            <a href="#">Crime and justice</a>
                        </li>
                        <li>
                            <a href="#">Household characteristics</a>
                        </li>
                        <li>
                            <a href="#">Well-being</a>
                        </li>
                        <li>
                            <a href="#">Health and social care</a>
                        </li>
                        <li>
                            <a href="#">Elections</a>
                        </li>
                        <li>
                            <a href="#">Personal and household finances</a>
                        </li>
                        <li>
                            <a href="#">Population and migration</a>
                        </li>
                        <li>
                            <a href="#">Cultural identity</a>
                        </li>
                        <li>
                            <a href="#">Housing</a>
                        </li>
                        <li>
                            <a href="#">Leisure and tourism</a>
                        </li>
                    </ul>
                </li>
                <li class="nav--primary__respondents">
                    <a href="#">
                        <span class="icon-comment icon--inline" role="presentation"></span>
                        Taking part in a survey?
                    </a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Release calendar</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Methodology</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">About</a>
                </li>
            </ul>
            <div class="slate--grey search-wrapper">
                <form class="nav-search nav-search--hidden" id="searchBar">
                    <div class="nav-search__container">
                        <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
                        <input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Enter keyword or time series ID">
                    </div>
                    <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
                        <span class="icon-search-1" role="presentation"></span>
                        <span class="visuallyhidden">Search</span>
                    </button>
                </form>
            </div>
    </nav>
    <!-- /header -->
    <!-- page header ("slate") -->
    <div class="page-header slate slate--light-green">
        <div class="wrapper">
            <!-- breadcrumb -->
            <ol class="nav nav--heavy breadcrumb mini flush--half--top">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Methodology</a>
                </li>
                <li>
                    <a href="#">Economy</a>
                </li>
                <li class="nav__active">
                    Consumer Price Inflation
                </li>
            </ol><!-- /breadcrumb -->
            <p class="page-header__title">
                <strong>Time series previous versions</strong>
            </p>
            <h1 class="page-header__title flush--half--bottom">CPI: Consumer Prices Index (% change)</h1>
            <div class="grid-wrap">
                <p class="grid-col tablet-grid-one-quarter page-header__meta-block-with-img">
                    <img src="http://alpha.ons.gov.uk/ui/img/national-statistics.png" alt="" /><span>Contact: </span><br/>John Smith
                </p>
                <p class="grid-col tablet-grid-one-quarter divider--border-left">
                    <span>Data period covered: </span><br/>Feb 1988 - current
                </p>
                <p class="grid-col tablet-grid-one-quarter divider--border-left">
                    <span>Next release: </span><br/>19 Mar 2014
                </p>
                <p class="grid-col tablet-grid-one-quarter divider--border-left">
                    <span>Series ID: </span>UK <a href="#">what is this?</a><br/>
                    <span>Units: </span>Index 2010=100<br/>
                    Not seasonally adjusted
                </p>
            </div>

            <div class="page-header__icons">
                <a href="#" class="link-complex">
                    <span class="icon icon-twitter icon--grey">
                        <span class="visuallyhidden">Share on Twitter</span>
                    </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-facebook icon--grey">
                       <span class="visuallyhidden">Share on Facebook</span>
                   </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-linkedin icon--grey">
                       <span class="visuallyhidden">Share on LinkedIn</span>
                   </span>
               </a>
            </div>
        </div>
    </div>
    <!-- /page header ("slate") -->
    <div class="wrapper panel--mar">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-full-width">

                <p>
                    Cras fringilla neque arcu, eget tristique turpis consectetur eu. Curabitur leo nisi, pulvinar sit amet molestie ac, faucibus sit amet turpis. Maecenas non sollicitudin magna, et convallis turpis.
                </p>

                <p>
                    Donec fringilla, ante et imperdiet interdum, <a href="#">arcu ipsum</a> mollis odio, vitae euismod augue mi at velit. Ut egestas tortor vel ipsum interdum suscipit. Etiam commodo dolor ut nisl consequat feugiat. Nulla facilisi. Morbi tempus mauris sem, sit amet facilisis tellus facilisis id. Nunc a tortor lacus. Maecenas fermentum libero arcu, at tempus risus laoreet sed. Sed blandit mauris a neque viverra malesuada. Maecenas accumsan maximus leo, nec porta arcu accumsan vel. Praesent rutrum vel turpis vel euismod. Etiam et commodo justo.
                </p>

                <h2>
                    Select data revision dates
                </h2>

                <div class="grid-wrap">
                    <div class="grid-col desktop-grid-two-thirds">
                        <div class="grid-wrap">
                            <!-- data FROM select boxes -->
                            <div class="grid-col desktop-grid-one-half">
                                <div class="grid-wrap">
                                    <p class="grid-col grid-one-half">
                                        Data published between
                                    </p>
                                    <select class="input grid-col grid-one-quarter" id="select-month" name="month">
                                        <option value="1" selected>Sept</option>
                                        <option value="2">Oct</option>
                                    </select>
                                    <select class="input grid-col grid-one-quarter" id="select-year" name="year">
                                        <option value="1" selected>2014</option>
                                        <option value="2">2015</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end of data from select boxes -->
                            <!-- data TO select boxes -->
                            <div class="grid-col desktop-grid-one-half">
                                <div class="grid-wrap">
                                    <p class="grid-col grid-one-half">
                                        To
                                    </p>
                                    <select class="input grid-col grid-one-quarter" id="select-month" name="month">
                                        <option value="1" selected>Nov</option>
                                        <option value="2">Dec</option>
                                    </select>
                                    <select class="input grid-col grid-one-quarter" id="select-year" name="year">
                                        <option value="1" selected>2014</option>
                                        <option value="2">2015</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end of data to select boxes -->
                        </div>
                    </div>
                    <div class="grid-col desktop-grid-one-third">
                        <div class="grid-wrap">
                            <div class="grid-col grid-one-half">
                                <a href="#" class="btn btn--primary btn--small btn--thin btn--narrow">
                                    Show
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                    <table width="100%" class="tablesaw">
                        <thead>
                            <tr>
                                <th>Date updated</th>
                                <th>Reason for update</th>
                                <th>More information</th>
                                <th class="text-right"><label>Select all <input type="checkbox" name="checkbox" value="1"></label></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12 Feb 2015</td>
                                <td>Release: Consumer price inflation</td>
                                <td></td>
                                <td class="text-right"><input type="checkbox" name="checkbox" value="1"></td>
                            </tr>
                            <tr>
                                <td>12 Feb 2015</td>
                                <td>Correction</td>
                                <td>View correction note</td>
                                <td class="text-right"><input type="checkbox" name="checkbox" value="1"></td>
                            </tr>
                            <tr>
                                <td>12 Feb 2015</td>
                                <td>Release: Consumer price inflation</td>
                                <td></td>
                                <td class="text-right"><input type="checkbox" name="checkbox" value="1"></td>
                            </tr>
                            <tr>
                                <td>12 Feb 2015</td>
                                <td>Release: Consumer price inflation</td>
                                <td></td>
                                <td class="text-right"><input type="checkbox" name="checkbox" value="1"></td>
                            </tr>
                            <tr>
                                <td>12 Feb 2015</td>
                                <td>Release: Consumer price inflation</td>
                                <td></td>
                                <td class="text-right"><input type="checkbox" name="checkbox" value="1"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Include latest data with download</td>
                                <td class="text-right"><input type="checkbox" name="checkbox" value="1"></td>
                            </tr>
                        </tbody>
                    </table>

                <div class="slate--mid-grey panel--pad-small panel--bottom-mar">
                    <div class="grid-wrap">
                        <div class="grid-col desktop-grid-one-third desktop-grid-push-two-thirds">
                            <a href="#" class="btn btn--primary btn--thin btn--narrow">.CSV
                                <span class="icon icon-download icon--button-inline"></span>
                            </a>
                            <a href="#" class="btn btn--primary btn--thin btn--narrow">.XLSX
                                <span class="icon icon-download icon--button-inline"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <h2>
                    Important notes and usuage information
                </h2>
                <p>Cras fringilla neque arcu, eget tristique turpis consectetur eu. Curabitur leo nisi, pulvinar sit amet molestie ac, faucibus sit amet turpis. Maecenas non sollicitudin magna, et convallis turpis.</p>
                <p>Donec fringilla, ante et imperdiet interdum, <a href="#">arcu ipsum</a> mollis odio, vitae euismod augue mi at velit. Ut egestas tortor vel ipsum interdum suscipit. Etiam commodo dolor ut nisl consequat feugiat. Nulla facilisi. Morbi tempus mauris sem, sit amet facilisis tellus facilisis id. Nunc a tortor lacus. Maecenas fermentum libero arcu, at tempus risus laoreet sed. Sed blandit mauris a neque viverra malesuada. Maecenas accumsan maximus leo, nec porta arcu accumsan vel. Praesent rutrum vel turpis vel euismod. Etiam et commodo justo.</p>
            </div><!-- /grid-full-width -->
            <div class="grid-col desktop-grid-one-half">
                <article class="box box--padded sectioned">
                    <header class="box__header">
                        <h3>Methodology</h3>
                    </header>
                    <div class="box__content">
                        <ul class="list--neutral">
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li>
                                <a href="#">Link 3</a>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
            <div class="grid-col desktop-grid-one-half">
                <article class="box box--padded sectioned">
                    <header class="box__header">
                        <h3>Contact details for this time series</h3>
                    </header>
                    <div class="box__content">
                        <ul class="list--neutral">
                            <li>
                                John Smith
                            </li>
                            <li>
                                <a href="#">john.smith@email.address.com</a>
                            </li>
                            <li>
                                +44 (0)1633 454545
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div><!-- /grid-wrap -->
    </div>
    <footer class="global-footer">
      <h2 class="visuallyhidden">Footer links</h2>
      <div class="slate--light panel--pad-large panel--separated">
        <div class="wrapper">
          <nav class="grid-wrap">
            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">Legal</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Business Transparency</a>
                </li>
                <li>
                  <a href="#">Terms and Conditions</a>
                </li>
                <li>
                  <a href="#">Copyright</a>
                </li>
                <li>
                  <a href="#">Cookies and Privacy</a>
                </li>
              </ul>
            </div>

            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">About ONS</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Who we are</a>
                </li>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">Products and Services</a>
                </li>
                <li>
                  <a href="#">Contact us</a>
                </li>
                <li>
                  <a href="#">Our offices</a>
                </li>
              </ul>
            </div>

            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">Connect with us</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <a href="#">Twitter</a>
                </li>
                <li>
                  <a href="#">LinkedIn</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- /wrapper -->
      </div>
      <!-- /slate -->
      <div class="slate--mid-grey">
        <div class="wrapper">
          <div class="footer__license">
            <img class="footer__license__img" alt="OGL" width="60" src="http://onsdigital.github.io/pattern-library/ui/img/ogl.png">
            <p class="footer__license__body">
              All content is available under the Open Government Licence v2.0, except where otherwise stated
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
</body>


</html>
