<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>T4-1</title>
        <meta charset="utf-8" />
        <meta content="width=device-width,initial-scale=1.0" name="viewport" />
        <meta content="on" http-equiv="cleartype" />
        <meta name="format-detection" content="telephone=no">
        <!--[if IE]><![endif]-->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/oldie.css" />
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.css" />
        <![endif]-->
        <script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
    </head>
    <body class="">
        <a class="skiplinks visuallyhidden focusable" href="#main" tabindex="0">
            <span>Skip to main content</span>
        </a>
        <!---
        title: Stats Bulletin Page
        external: true
        type: template
        group: Examples
        usage: |
        This is template for stats bulletin page.
        -->
        <!-- Pattern Library Header -->
        <header class="global-header">
            <div class="global-header__wrapper">
                <a class="main-logo" href="/">
                    <img src="../../node_modules/ONS-Pattern-Library/ui/img/ons-logo.png" alt="Office for National Statistics">
                </a>
                <ul class="nav globaltop-nav">
                    <li>
                        <a href="#">Release Calendar</a>
                    </li>
                    <li>
                        <a href="#">Methodology</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </header>
        <nav class="ons-nav">
            <ul class="nav nav--controls">
                <li class="nav--controls__menu">
                    <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
                        <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
                        <span class="nav--controls__text">Menu</span>
                    </a>
                </li>
                <li class="nav--controls__search">
                    <a href="#nav-search" id="search-toggle" aria-controls="nav-search">
                        <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
                        <span class="nav--controls__text">Search</span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav--block nav--primary" id="nav-primary">
                <li class="nav--primary__hide-small-med">
                    <a href="/pages/t1">Home</a>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">Business, Industry, and Trade</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Business</a>
                        </li>
                        <li>
                            <a href="#">Changes to business</a>
                        </li>
                        <li>
                            <a href="#">Construction and industry</a>
                        </li>
                        <li>
                            <a href="#">IT and internet industry</a>
                        </li>
                        <li>
                            <a href="#">International trade</a>
                        </li>
                        <li>
                            <a href="#">Manufacturing and production</a>
                        </li>
                        <li>
                            <a href="#">Retail industry</a>
                        </li>
                        <li>
                            <a href="#">Tourism industry</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="/pages/t3">Economy</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Economic output and productivity</a>
                        </li>
                        <li>
                            <a href="#">Environmental account</a>
                        </li>
                        <li>
                            <a href="#">Government, public sector, and taxes</a>
                        </li>
                        <li>
                            <a href="#">Gross Domestic Product (GDP)</a>
                        </li>
                        <li>
                            <a href="#">Gross Values Added (GVA)</a>
                        </li>
                        <li>
                            <a href="t3.html">Inflation and price indices</a>
                        </li>
                        <li>
                            <a href="#">Investment and pension trust</a>
                        </li>
                        <li>
                            <a href="#">National accounts</a>
                        </li>
                        <li>
                            <a href="#">Regional accounts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">Employment and Labour Market</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">People in work</a>
                        </li>
                        <li>
                            <a href="#">People not in work</a>
                        </li>
                        <li>
                            <a href="#">Public sector personnel</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">People, Population, and Community</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Births, deaths, and marriages</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li>
                            <a href="#">Education and childcare</a>
                        </li>
                        <li>
                            <a href="#">Crime and justice</a>
                        </li>
                        <li>
                            <a href="#">Household characteristics</a>
                        </li>
                        <li>
                            <a href="#">Well-being</a>
                        </li>
                        <li>
                            <a href="#">Health and social care</a>
                        </li>
                        <li>
                            <a href="#">Elections</a>
                        </li>
                        <li>
                            <a href="#">Personal and household finances</a>
                        </li>
                        <li>
                            <a href="#">Population and migration</a>
                        </li>
                        <li>
                            <a href="#">Cultural identity</a>
                        </li>
                        <li>
                            <a href="#">Housing</a>
                        </li>
                        <li>
                            <a href="#">Leisure and tourism</a>
                        </li>
                    </ul>
                </li>
                <li class="nav--primary__respondents">
                    <a href="#">
                        <span class="icon-comment icon--inline" role="presentation"></span>
                        Taking part in a survey?
                    </a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Release calendar</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Methodology</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">About</a>
                </li>
            </ul>
            <div class="slate--grey search-wrapper">
                <form class="nav-search nav-search--hidden" id="searchBar">
                    <div class="nav-search__container">
                        <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
                        <input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Search for keyword or time series ID">
                    </div>
                    <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
                    <span class="icon-search-1" role="presentation"></span>
                    <span class="visuallyhidden">Search</span>
                    </button>
                </form>
            </div>
        </nav>

        <!-- title and social icons -->
        <div class="page-header page-header--article page-header--stat-bulletin slate--blue">
            <div class="wrapper" >
                <ol class="nav nav--heavy breadcrumb mini flush--half--top" >
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Economy</a>
                    </li>
                    <li class="nav__active breadcrumb">
                        Consumer Price Inflation, June 2014
                    </li>
                </ol>
                <p class="page-header__title page-header--stat-bulletin-desc">
                    <strong>Statistical bulletin</strong>
                </p>
                <h1 class="page-header__title flush--half--bottom">Consumer Price Inflation, June 2014</h1>
                <div class="grid-wrap">
                    <p class="grid-col tablet-grid-one-quarter page-header__meta-block-with-img">
                        <img src="../../ui/img/national-statistics.png" alt="National Statistics logo" />
                        <span>Contact: </span><br/>Katherine Pegler
                    </p>
                    <p class="grid-col tablet-grid-one-quarter divider--border-left">
                        <span>Release date: </span><br/>19 Feb 2014<br/><a href="#">previous versions</a>
                    </p>
                    <p class="grid-col tablet-grid-one-quarter divider--border-left">
                        <span>Next release: </span><br/>19 Mar 2014
                    </p>
                    <div class="grid-col tablet-grid-one-quarter divider--border-left page-header__meta-block-with-ul">
                        <ul class="list--neutral">
                            <li>
                                <span class="icon icon-print icon--blue-alt">
                                    <span class="visuallyhidden">Print full report</span>&nbsp;Print full report (38 pages)
                                    <ons-help-tooltip tip="This link will not be available on the prototype, however in the future you will be able to print the full report"></ons-help-tooltip>
                                </span>
                            </li>
                            <li>
                                <span class="icon icon-download icon--blue-alt">
                                    <span class="visuallyhidden">Download PDF</span>&nbsp;Download PDF (95KB)
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <!-- Table of contents -->
        <div class="wrapper">
            <p class="lede">CPI, CPIH, RPI and RPIJ inﬂation price indices for June 2014 - brief description and analysis</p>
            <article class="box panel--separated--bottom">
                <h3 id="top">Table of contents</h3>
                    <ol class="table-of-contents-ordered-list">
                        <li>
                            <a>Summary</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                        <li>
                            <a>Title</a>
                        </li>
                    </ol>
            </article>
        </div>
        <!-- Body Sections -->
        <div class="wrapper panel--bottom-mar">
            <div class="grid-wrap">
                <div class="grid-col desktop-grid-two-thirds tablet-grid-full-width">
                    <article class="box border-horizontal-single content-section">
                        <header class="box__header">
                            <h2 id="Summary">Summary</h2>
                        </header>
                        <!-- /box__header -->
                        <div class="box__content">
                            <div>
                                <p>
                                    Consumer price inflation is the speed at which the prices of goods and services
                                    bought by households rise or fall. Consumer price inflation is estimated by using
                                    price indices. One way to understand a price index is to think of a very large
                                    shopping basket containing all the goods and services bought by households. The
                                    price index estimates changes to the total cost of this basket.
                                    A price index can be used to measure inflation in a number of ways. The most
                                    common is to look at how the index has changed over a year. This is calculated by
                                    comparing the price index for the latest month with the same month a year ago.
                                    This is known as the 12-month inflation rate. This bulletin measures inflation to
                                    June 2014, so the 12-month rate measures changes in prices between June 2013
                                    and June 2014
                                </p>
                            </div>
                        </div>

                    </article>

                    <!-- Accordian -->
                    <div class"panel--mar">
                        <div class="accordion is-expanded">
    						<h2 id="sc-1" class="accordion__title" aria-controls="content-1">Background notes and methodology</h2>
    						<div id="content-1" class="accordion__content" aria-labelledby="sc-1">
    							<ul class="list--neutral">
    								<li>
                                        <a>Quality and Methodology Information (QMI)</a>
    								</li>
                                    <li>
                                        <a>Impact of rebasing the Consumer Price Index to 2010=100</a>
    								</li>
                                    <li>
                                        <a>Consumer Price Index and Retail Price Index methodology</a>
    								</li>
    							</ul>
    						</div>
    					</div>
                        <div class="accordion is-collapsed panel--bottom-mar">
    						<h2 id="sc-1" class="accordion__title" aria-controls="content-1">Footnotes</h2>
    						<div id="content-1" class="accordion__content" aria-labelledby="sc-1">
    							<ul class="list--neutral">
    								<li>
    									<p>
                                            Some footnotes here.
    									</p>
    								</li>
    							</ul>
    						</div>
    					</div>
                    </div>
                    <!-- /Accordian -->
                </div>
                <!-- Sidebar -->
                <div class="grid-col desktop-grid-one-third tablet-grid-full-width">
                    <!-- article__content -->
                    <article class="box box--green box--green--separated--left">
                        <div class="box__inner border box--padded [border--large-left]">
                            <header class="box__header">
                                <h3>Data in this bulletin</h3>
                            </header>
                            <div class="box__content">
                                <ul class="list--neutral">
                                    <li><a href="">Consumer Price Inflation data collection</a></li>
                                    <li><a href="">Consumer Price Inflation time series</a></li>
                                </ul>
                            </div>
                        </div>
                    </article>
                <!-- /article__content -->

                <article class="box">
                    <div class="box__inner border box--padded">
                        <header class="box__header">
                            <h3>Contact details for this statistical bulletin</h3>
                        </header>
                        <!-- /box__header -->
                        <div class="box__content">
                            <p>
                                Katherine Pegler</br>
                                <a href="">ppi@ons.gsi.gov.uk</a></br>
                                Telephone: +44 (0)1633 456468
                            </p>
                        </div>
                        <!-- /box__content -->
                    </div>
                </article>
                <!-- /article__content -->
            </div>
        </div>
    </div>
    <!-- panel -->
    <div class="slate--mid-grey">
        <!-- wrapper -->
        <div class="wrapper panel--top-pad">
            <!-- grid-wrap -->
            <div class="grid-wrap">
                <div class="grid-col desktop-grid-two-thirds tablet-grid-full-width">
                    <article class="box box--teal--separated--left">
                        <div class="box__inner border box--padded">
                            <h3>Related bulletins</h3>
                            <ul class="list--neutral">
                                <li>
                                    <h3 class="flush--bottom">
                                    <a href="#">Producer Price Inflation, January 2014</a>
                                    </h3>

                                    <p>The Consumer Price Inflation is a monthly release that contains percentage changes and weights for the CPI, CPIH, RPI and RPIJ.
                                </li>
                                <li>
                                    <h3 class="flush--bottom">
                                    <a href="#">Prototype version</a>
                                    </h3>
                                    <p>In the future this box will display links to other statistical bulletins that are relevant to this bulletin.</p>
                                </li>
                            </ul>
                        </div>
                    </article>
            </div>
            <div class="grid-col desktop-grid-one-third tablet-grid-full-width">
                <!-- article__content -->
                <article class="box box--orange box--orange--separated-left">
                    <div class="box__inner border box--padded ">
                        <h3 class="flush--bottom"><a href="">Looking for local statistics?</a></h3>
                        <p>A handy guide to let you know where to find local statistics.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<footer class="global-footer">
  <h2 class="visuallyhidden">Footer links</h2>
  <div class="slate--light panel--pad-large panel--separated">
    <div class="wrapper">
      <nav class="grid-wrap">
        <div class="grid-col tablet-grid-one-third">
          <h3 class="delta headline-separated">Legal</h3>
          <ul class="list--neutral list--grid list--spaced">
            <li><a href="#">Business Transparency</a>
            </li>
            <li><a href="#">Terms and Conditions</a>
            </li>
            <li><a href="#">Copyright</a>
            </li>
            <li><a href="#">Cookies and Privacy</a>
            </li>
          </ul>
        </div>
        <div class="grid-col tablet-grid-one-third">
          <h3 class="delta headline-separated">About ONS</h3>
          <ul class="list--neutral list--grid list--spaced">
            <li><a href="#">Who we are</a>
            </li>
            <li><a href="#">Careers</a>
            </li>
            <li><a href="#">Products and Services</a>
            </li>
            <li><a href="#">Contact us</a>
            </li>
            <li><a href="#">Our offices</a>
            </li>
          </ul>
        </div>
        <div class="grid-col tablet-grid-one-third">
          <h3 class="delta headline-separated">Connect with us</h3>
          <ul class="list--neutral list--grid list--spaced">
            <li><a href="#">Facebook</a>
            </li>
            <li><a href="#">Twitter</a>
            </li>
            <li><a href="#">YouTube</a>
            </li>
            <li><a href="#">Email subscriptions</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- /wrapper -->
  </div>
  <!-- /slate -->
  <div class="slate--mid-grey">
    <div class="wrapper">
      <div class="footer__license">
        <img class="footer__license__img" alt="OGL" width="60" src="../../ui/img/ogl.png">
        <p class="footer__license__body">
          All content is available under the Open Government Licence v2.0, except where otherwise
          stated
        </p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="http://onsdigital.github.io/pattern-library/dist/js/footer.js"></script>
</body>
</html>
