<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html class="no-js">
    <!--<![endif]-->
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>-T5</title>
        <meta charset="utf-8" />
        <meta content="width=device-width,initial-scale=1.0" name="viewport" />
        <meta content="on" http-equiv="cleartype" />
        <meta name="format-detection" content="telephone=no">
        <!--[if IE]><![endif]-->
        <!--[if lte IE 8]>
        <link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/oldie.css" />
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.css" />
        <![endif]-->
        <script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
    </head>
    <body class="">
        <a class="skiplinks visuallyhidden focusable" href="#main" tabindex="0">
            <span>Skip to main content</span>
        </a>
        <!---
        title: Stats Bulletin Page
        external: true
        type: template
        group: Examples
        usage: |
        This is template for stats bulletin page.
        -->
        <!-- Pattern Library Header -->
        <header class="global-header">
            <div class="global-header__wrapper">
                <a class="main-logo" href="/">
                    <img src="../../node_modules/ONS-Pattern-Library/dist/img/ons-logo.png" alt="Office for National Statistics">
                </a>
                <ul class="nav globaltop-nav">
                    <li>
                        <a href="#">Release Calendar</a>
                    </li>
                    <li>
                        <a href="#">Methodology</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                </ul>
            </div>
        </header>
        <nav class="ons-nav">
            <ul class="nav nav--controls">
                <li class="nav--controls__menu">
                    <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
                        <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
                        <span class="nav--controls__text">Menu</span>
                    </a>
                </li>
                <li class="nav--controls__search">
                    <a href="#nav-search" id="search-toggle" aria-controls="nav-search">
                        <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
                        <span class="nav--controls__text">Search</span>
                    </a>
                </li>
            </ul>
            <ul class="nav nav--block nav--primary" id="nav-primary">
                <li class="nav--primary__hide-small-med">
                    <a href="/pages/t1">Home</a>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">Business, Industry, and Trade</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Business</a>
                        </li>
                        <li>
                            <a href="#">Changes to business</a>
                        </li>
                        <li>
                            <a href="#">Construction and industry</a>
                        </li>
                        <li>
                            <a href="#">IT and internet industry</a>
                        </li>
                        <li>
                            <a href="#">International trade</a>
                        </li>
                        <li>
                            <a href="#">Manufacturing and production</a>
                        </li>
                        <li>
                            <a href="#">Retail industry</a>
                        </li>
                        <li>
                            <a href="#">Tourism industry</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="/pages/t3">Economy</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Economic output and productivity</a>
                        </li>
                        <li>
                            <a href="#">Environmental account</a>
                        </li>
                        <li>
                            <a href="#">Government, public sector, and taxes</a>
                        </li>
                        <li>
                            <a href="#">Gross Domestic Product (GDP)</a>
                        </li>
                        <li>
                            <a href="#">Gross Values Added (GVA)</a>
                        </li>
                        <li>
                            <a href="t3.html">Inflation and price indices</a>
                        </li>
                        <li>
                            <a href="#">Investment and pension trust</a>
                        </li>
                        <li>
                            <a href="#">National accounts</a>
                        </li>
                        <li>
                            <a href="#">Regional accounts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">Employment and Labour Market</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">People in work</a>
                        </li>
                        <li>
                            <a href="#">People not in work</a>
                        </li>
                        <li>
                            <a href="#">Public sector personnel</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">People, Population, and Community</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Births, deaths, and marriages</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li>
                            <a href="#">Education and childcare</a>
                        </li>
                        <li>
                            <a href="#">Crime and justice</a>
                        </li>
                        <li>
                            <a href="#">Household characteristics</a>
                        </li>
                        <li>
                            <a href="#">Well-being</a>
                        </li>
                        <li>
                            <a href="#">Health and social care</a>
                        </li>
                        <li>
                            <a href="#">Elections</a>
                        </li>
                        <li>
                            <a href="#">Personal and household finances</a>
                        </li>
                        <li>
                            <a href="#">Population and migration</a>
                        </li>
                        <li>
                            <a href="#">Cultural identity</a>
                        </li>
                        <li>
                            <a href="#">Housing</a>
                        </li>
                        <li>
                            <a href="#">Leisure and tourism</a>
                        </li>
                    </ul>
                </li>
                <li class="nav--primary__respondents">
                    <a href="#">
                        <span class="icon-comment icon--inline" role="presentation"></span>
                        Taking part in a survey?
                    </a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Release calendar</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Methodology</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">About</a>
                </li>
            </ul>
            <div class="slate--grey search-wrapper">
                <form class="nav-search nav-search--hidden" id="searchBar">
                    <div class="nav-search__container">
                        <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
                        <input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Search for keyword or time series ID">
                    </div>
                    <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
                    <span class="icon-search-1" role="presentation"></span>
                    <span class="visuallyhidden">Search</span>
                    </button>
                </form>
            </div>
        </nav>

        <!-- title and social icons -->
        <div class="page-header slate slate--light-green">
            <div class="wrapper" >
                <ol class="nav nav--heavy breadcrumb breadcrumb_hero mini" >
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Economy</a>
                    </li>
                    <li>
                        Inflation and price indices
                    </li>
                    <li class="nav__active breadcrumb">
                        CPI: Consumer Price Index (% change)
                    </li>
                </ol>
                <!-- /Wrapper panel -->
            </div>

            <div class="wrapper">
                <p class="page-header__title page-header--stat-bulletin-desc">
                    <strong>Time series</strong>
                </p>
                <h1 class="page-header__title">CPI: Consumer Prices Index (% change) </h1>
                <div class="grid-wrap">
                    <p class="grid-col tablet-grid-one-quarter page-header__meta-block-with-img">
                        <img src="http://alpha.ons.gov.uk/ui/img/national-statistics.png" alt="" />Contact:<br/>Katherine Pegler
                    </p>
                    <p class="grid-col tablet-grid-one-quarter divider--border-left">
                        Release date:<br/>19 Feb 2014<br/><a>previous versions</a>
                    </p>
                    <p class="grid-col tablet-grid-one-quarter divider--border-left">
                        Next release:<br/>19 Mar 2014
                    </p>
                    <p class="grid-col tablet-grid-one-quarter divider--border-left">
                        Series ID: MC6A  <a>what is this? </a><br/>Units: Index 2010=100 <br/>Not seasonally adjusted
                    </p>
                </div>
                <div class="page-header__icons">
                    <a href="#" class="link-complex">
                    <span class="icon icon-twitter icon--grey">
                        <span class="visuallyhidden">Share on Twitter</span>
                    </span>
                    </a>
                    <a href="#" class="link-complex">
                        <span class="icon icon-facebook icon--grey">
                            <span class="visuallyhidden">Share on Facebook</span>
                        </span>
                    </a>
                    <a href="#" class="link-complex">
                        <span class="icon icon-linkedin icon--grey">
                            <span class="visuallyhidden">Share on LinkedIn</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>


        <div class="wrapper">
            <div class="actionable-header--tight panel--mar-small">
                <!-- This title will need to be dynamically generated on the server -->
                <h2 class="actionable-header--tight__title gamma flush--bottom body-type--heavy">Download this entire time series</h2>
                <div class="actionable-header--tight__action actionable-header--tight__action--left">
                    <a class="btn btn--primary btn--small" href="#">
                        image (54kb)
                        <span class="icon-download icon--button-inline" role="presentation"></span>
                    </a>
                    <a class="btn btn--primary btn--small" href="#">
                        .csv (3kb)
                        <span class="icon-download icon--button-inline" role="presentation"></span>
                    </a>
                    <a class="btn btn--primary btn--small" href="#">
                        .xls (12kb)
                        <span class="icon-download icon--button-inline" role="presentation"></span>
                    </a>
                </div>
            </div>
            <div class="chart-area slate">
                <div class="chart-area__controls">
                    <form data-chart-controls="" data-chart-controls-for="[&quot;chart1&quot;, &quot;table1&quot;]">
                        <div class="button-bar chart-area__controls__buttons">
                            <div class="button-group chart-area__controls__type">
                                <label class="btn btn--secondary btn--small btn--narrow btn--thin btn--secondary--active">
                                    <span class="icon--button-inline--rev-small icon-chart" role="presentation"></span>
                                    Chart
                                    <input type="radio" name="type" data-chart-controls-type="" value="chart1" checked>
                                </label>
                                <label class="btn btn--secondary btn--small btn--narrow btn--thin">
                                    <span class="icon--button-inline--rev-small icon-table" role="presentation"></span>
                                    Table
                                    <input type="radio" name="type" data-chart-controls-type="" value="table1">
                                </label>
                            </div>
                            <div class="button-group chart-area__controls__timespan">
                                <label class="btn btn--secondary btn--small btn--narrow btn--thin">
                                    Monthly
                                    <input type="radio" name="scale" data-chart-controls-scale="" value="month" checked>
                                </label>
                                <label class="btn btn--secondary btn--small btn--narrow btn--thin">
                                    Quarterly
                                    <input type="radio" name="scale" data-chart-controls-scale="" value="quarter">
                                </label>
                                <label class="btn btn--secondary btn--small btn--narrow btn--thin">
                                    Yearly
                                    <input type="radio" name="scale" data-chart-controls-scale="" value="year">
                                </label>
                            </div>
                        </div>
                        <!-- /chart-area__controls__buttons -->
                        <div class="chart-area__controls__time">
                            <span class="chart-area__controls__time__label">Time period:</span>
                            <ul class="nav flush--top chart-area__controls__time__ranges">
                                <li>
                                    <a href="#" data-chart-controls-range="all">All</a>
                                </li>
                                <li>
                                    <a href="#" data-chart-controls-range="10yr">Last 10 yrs</a>
                                </li>
                                <li>
                                    <a href="#" data-chart-controls-range="5yr" class="chart-area__controls__active">Last 5 yrs</a>
                                </li>
                                <li data-chart-control-custom-range="">
                                    <a href="#" class="link-complex" data-chart-control-custom-trigger-for="chart-area__controls__custom">
                                        <span class="link-complex__target">Custom</span>
                                        <span class="icon-down-open-big icon--inline" role="presentation"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /chart-area__controls__time -->
                        <div class="chart-area__controls__custom js-hidden" id="customControls">
                            <div class="chart-area__controls__custom__errors"></div>
                            <div class="chart-area__controls__custom__container">
                                <div class="chart-area__controls__dropdowns">
                                    <fieldset class="chart-area__controls__date">
                                        <legend class="chart-area__controls__date__label">From</legend>
                                        <label class="visuallyhidden" for="from-month-1">Month</label>
                                        <select class="chart-area__controls__month" id="from-month-1" name="from-month" data-chart-controls-from-month="">
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9" selected>Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                        <label class="visuallyhidden" for="from-year-1">Year</label>
                                        <select class="chart-area__controls__year" id="from-year-1" name="from-year" data-chart-controls-from-year="">
                                            <option value="1988">1988</option>
                                            <option value="1989">1989</option>
                                            <option value="1990">1990</option>
                                            <option value="1991">1991</option>
                                            <option value="1992">1992</option>
                                            <option value="1993">1993</option>
                                            <option value="1994">1994</option>
                                            <option value="1995">1995</option>
                                            <option value="1996">1996</option>
                                            <option value="1997">1997</option>
                                            <option value="1998">1998</option>
                                            <option value="1999">1999</option>
                                            <option value="2000">2000</option>
                                            <option value="2001">2001</option>
                                            <option value="2002">2002</option>
                                            <option value="2003">2003</option>
                                            <option value="2004">2004</option>
                                            <option value="2005">2005</option>
                                            <option value="2006">2006</option>
                                            <option value="2007">2007</option>
                                            <option value="2008">2008</option>
                                            <option value="2009" selected>2009</option>
                                            <option value="2010">2010</option>
                                            <option value="2011">2011</option>
                                            <option value="2012">2012</option>
                                            <option value="2013">2013</option>
                                            <option value="2014">2014</option>
                                        </select>
                                    </fieldset>
                                    <fieldset class="chart-area__controls__date">
                                        <legend class="chart-area__controls__date__label">To</legend>
                                        <label class="visuallyhidden" for="to-month-2">Month</label>
                                        <select class="chart-area__controls__month" id="to-month-2" name="to-month" data-chart-controls-to-month="">
                                            <option value="1">Jan</option>
                                            <option value="2">Feb</option>
                                            <option value="3">Mar</option>
                                            <option value="4">Apr</option>
                                            <option value="5">May</option>
                                            <option value="6">Jun</option>
                                            <option value="7">Jul</option>
                                            <option value="8">Aug</option>
                                            <option value="9" selected>Sep</option>
                                            <option value="10">Oct</option>
                                            <option value="11">Nov</option>
                                            <option value="12">Dec</option>
                                        </select>
                                        <label class="visuallyhidden" for="to-year-2">Month</label>
                                        <select class="chart-area__controls__year" id="to-year-2" name="to-year" data-chart-controls-to-year="">
                                            <option value="1986">1986</option>
                                            <option value="1987">1987</option>
                                            <option value="1988">1988</option>
                                            <option value="1989">1989</option>
                                            <option value="1990">1990</option>
                                            <option value="1991">1991</option>
                                            <option value="1992">1992</option>
                                            <option value="1993">1993</option>
                                            <option value="1994">1994</option>
                                            <option value="1995">1995</option>
                                            <option value="1996">1996</option>
                                            <option value="1997">1997</option>
                                            <option value="1998">1998</option>
                                            <option value="1999">1999</option>
                                            <option value="2000">2000</option>
                                            <option value="2001">2001</option>
                                            <option value="2002">2002</option>
                                            <option value="2003">2003</option>
                                            <option value="2004">2004</option>
                                            <option value="2005">2005</option>
                                            <option value="2006">2006</option>
                                            <option value="2007">2007</option>
                                            <option value="2008">2008</option>
                                            <option value="2009">2009</option>
                                            <option value="2010">2010</option>
                                            <option value="2011">2011</option>
                                            <option value="2012">2012</option>
                                            <option value="2013">2013</option>
                                            <option value="2014" selected>2014</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="chart-area__controls__submit">
                                    <input class="btn btn--small btn--thin btn--narrow btn--primary" type="submit" name="submit" data-chart-controls-submit="" value="Show">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /chart-area__controls -->
                <!-- The actual chart goes here.  In this example, it is represented as an image that -->
                <!-- on a production site would be the no-js fallback, that is generated dynamically  -->
                <!-- by the server.                                                                   -->
                <img src="http://placehold.it/875x400&amp;text=No+-+JS+Chart+area+goes+here" alt="Chart title" width="875" height="400">
                <div class="chart-area__footer">
                    <span class="chart-area__footer__label">Download custom data</span>
                    <div class="chart-area__footer__actions">
                        <a class="btn btn--primary btn--small" href="#">
                            .csv
                            <span class="icon-download icon--button-inline" role="presentation"></span>
                        </a>
                        <a class="btn btn--primary btn--small" href="#">
                            .xsl
                            <span class="icon-download icon--button-inline" role="presentation"></span>
                        </a>
                        <a class="btn btn--primary btn--small" href="#">
                            Image
                            <span class="icon-download icon--button-inline" role="presentation"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /chart-area -->
            <div class="slate--mid-grey box box--padded">
                <span>Explore other infation and price indices <strong>time series</strong> and <strong>datasets</strong></span>
                <div class="box__inner">
                    <div class="grid-wrap">
                        <div class="grid-col desktop-grid-one-half ">
                            <label for="select" class="definition-emphasis" >Related time series:</label>
                            <div class="field field--spaced">
                                <select class="input input--mini" id="select" name="">
                                    <option value="1" selected>D7BT: CPI: Consumer Prices Index</option>
                                    <option value="2">Some other time series</option>
                                    <option value="3">Yet another time series</option>
                                </select>
                            </div>
                            <a href="#!/previous" class="split__multiline-break">view all time series</a>
                        </div>
                        <div class="grid-col desktop-grid-one-half ">
                            <label for="select" class="definition-emphasis" >Related datasets:</label>
                            <div class="field field--spaced">
                                <select class="input input--mini" id="select" name="">
                                    <option value="1" selected>Inflation data collection </option>
                                    <option value="2">Awesome dataset</option>
                                    <option value="3">Boring dataset</option>
                                </select>
                            </div>
                            <a href="#!/previous" class="split__multiline-break">view all datasets</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="wrapper panel--bottom-mar">
            <div class="grid-wrap">
                <div class="grid-col desktop-grid-two-thirds tablet-grid-full-width">
                    <article class="box border-horizontal-single content-section">
                        <!-- <header class="box__header">
                            <h2 id="Summary">Summary</h2>
                        </header> -->
                        <!-- /box__header -->
                        <div class="box__content">
                            <div>
                                <p>
                                    Consumer price indices are important indicators of how the UK economy is
                                    performing. The indices are used in many ways by the government, businesses,
                                    and society in general. They can affect interest rates, tax allowances, wages, state
                                    benefits, pensions, maintenance, contracts and many other payments. They also
                                    show the impact of inflation on family budgets and affect the value of the pound in
                                    your pocket.
                                </p>
                            </div>
                        </div>

                    </article>
                    <article class="box border-horizontal-single content-section">
                        <!-- /box__header -->
                        <div class="box__content">
                            <div>
                                <p class="page-header__title">Important notes and usage information</p>
                                <p>
                                    Consumer price indices are important indicators of how the UK economy is
                                    performing. The indices are used in many ways by the government, businesses,
                                    and society in general. They can affect interest rates, tax allowances, wages, state
                                    benefits, pensions, maintenance, contracts and many other payments. They also
                                    show the impact of inflation on family budgets and affect the value of the pound in
                                    your pocket.
                                </p>
                            </div>
                        </div>

                    </article>
                </div>
                <!-- Sidebar -->
                <div class="grid-col desktop-grid-one-third">
                    <!-- article__content -->
                    <article class="box box--teal--separated--left">
                        <div class="box__inner border box--padded">
                            <header class="">
                                <div class="grid-wrap">
                                    <div class="grid-col desktop-grid-five-sixths">
                                        <h3>Statistical bulletins and
                                        articles that use this time
                                        series
                                    </div>
                                </div>
                            </header>
                            <div class="box__content">
                                <div>
                                    <p><a href="">Consumer Price Inflation, June 2014</a></p>
                                </div>
                            </div>
                        </div>
                    </article>
                    <!-- /article__content -->

                    <article class="box box--orange--separated--left">
                        <div class="box__inner border box--padded">
                            <header>
                                <div class="grid-wrap">
                                    <div class="grid-col desktop-grid-five-sixths">
                                        <h3>Contact details for this statistical bulletin</h3>
                                    </div>
                                </div>
                            </header>
                            <!-- /box__header -->
                            <div class="box__content">
                                <div>
                                    <p>
                                        Katherine Pegler
                                        <a href="">ppi@ons.gsi.gov.uk</a>
                                        Telephone: +44 (0)1633 456468
                                    </p>

                                </div>
                            </div>
                            <!-- /box__content -->
                            <footer class="box__footer box__actions">
                            </footer>
                        </div>
                    </article>
                    <!-- /article__content -->
                </div>
            </div>
        </div>
        <!-- Methodology & Contact details-->
        <section class="panel wrapper panel--bottom-mar">
            <div class="grid-wrap">
                <div class="grid-col desktop-grid-one-half">
                    <div class="box box--left " >
                        <div class="box__inner border box--padded">
                            <header class="actionable-header__title">
                                <h2 class="actionable-header__title table-inline ">Methodology</h2>
                            </header>
                            <p>
                                <a href="#">Quality and Methodology Information (QMI)</a>
                            </p>
                            <p>
                                <a href="#">Impact of rebasing the Consumer Price Index to 2010=100</a>
                            </p>
                            <p>  <a href="#">Consumer Price Index and Retail Price Index methodology</a></p>
                        </div>
                    </div>
                    <!-- grid-col -->
                </div>
                <div class="grid-col desktop-grid-one-half">
                    <div class="box box--left " >
                        <div class="box__inner border box--padded panel--bottom-mar">
                            <header class="actionable-header__title">
                                <h2 class="actionable-header__title table-inline ">Contact details for this time series</h2>
                                <article class="">
                                    <div class="box__content">
                                        <ul class="list--table">
                                            <li class="">Kat Pegler</li>
                                            <li class=""><a href="#">ppi@ons.gsi.gov.uk</a></li>
                                            <li class="">Telephone: +44 (0) 1633 456468</li>
                                        </ul>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <!-- grid-col -->
                    </div>
                    <!-- grid-wrap -->
                </div>
            </section>
            <footer class="global-footer" sticky-footer=".wrapper">
                <div class="slate panel--pad-large panel--separated" >
                    <div class="wrapper">
                        <nav class="grid-wrap">
                            <div class="grid-col tablet-grid-one-third">
                                <h2 class="delta headline-separated">Legal</h2>
                                <ul class="list--neutral list--grid list--spaced">
                                    <li>
                                        <a href="#!/accessibility">Accessibility</a>
                                    </li>
                                    <li>
                                        <a href="#!/privacy">Cookies and privacy</a>
                                    </li>
                                    <li>
                                        <a href="#!/copyright">Copyright</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="grid-col tablet-grid-one-third">
                                <h2 class="delta headline-separated">About us</h2>
                                <ul class="list--neutral list--grid list--spaced">
                                    <li>
                                        <a href="#!/aboutus">Who we are</a>
                                    </li>
                                    <li>
                                        <a href="#!/aboutus">Careers</a>
                                    </li>
                                    <li>
                                        <a href="#!/aboutus">Products and services</a>
                                    </li>
                                    <li>
                                        <a href="#!/contactus">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="#!/contactus">Our offices</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="grid-col tablet-grid-one-third">
                                <h2 class="delta headline-separated">Connect with us</h2>
                                <ul class="list--neutral list--grid list--spaced">
                                    <li>
                                        <a href="https://twitter.com/ONS">Twitter</a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/ONS">Facebook</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- /wrapper -->
                </div>
                <!-- /slate -->
                <div class="slate--dark">
                    <div class="wrapper">
                        <div class="footer__license">
                            <img class="footer__license__img" alt="OGLlogo" width="60" src="../../node_modules/ONS-Pattern-Library/dist/img/ogl.png"/>
                            <p class="footer__license__body">
                                All content is available under the Open Government Licence v2.0, except where otherwise stated
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
            <script type="text/javascript" src="../../ui/js/lib/highcharts.js"></script>
            <script type="text/javascript" src="../../ui/js/lib/jquery.tooltipster.min.js"></script>
        </body>
    </html>
