<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>T7.1</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="on" http-equiv="cleartype" />
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]><![endif]-->
    <!--[if lte IE 8]>
<link rel="stylesheet" href="./dist/css/oldie.css"/>
<![endif]-->
    <!--[if gt IE 8]><!-->
<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
<![endif]-->
    <script src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
  </head>
  <body class="">
    <a class="skiplink visuallyhidden focusable" href="#main" tabindex="0">
        <span>Skip to main content</span>
    </a>
    <header class="global-header">
        <div class="global-header__wrapper">
            <a class="main-logo" href="/">
                <img src="http://onsdigital.github.io/pattern-library/ui/img/ons-logo.svg" alt="Office for National Statistics">
            </a>
            <ul class="nav globaltop-nav">
                <li>
                    <a href="#">Release Calendar</a>
                </li>
                <li>
                    <a href="#">Methodology</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </header>
    <nav class="ons-nav">
        <ul class="nav nav--controls">
            <li class="nav--controls__menu">
                <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
                    <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
                    <span class="nav--controls__text">Menu</span>
                </a>
            </li>
            <li class="nav--controls__search">
                <a href="#nav-search" id="search-toggle" aria-controls="nav-search">
                    <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
                    <span class="nav--controls__text">Search</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav--block nav--primary" id="nav-primary">
            <li class="nav--primary__hide-small-med">
                <a href="/pages/t1">Home</a>
            </li>
            <li class="nav__expandable js-expandable">
                <a href="#">Business, Industry, and Trade</a>
                <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                    <li>
                        <a href="#">Business</a>
                        </li>
                        <li>
                            <a href="#">Changes to business</a>
                        </li>
                        <li>
                            <a href="#">Construction and industry</a>
                        </li>
                        <li>
                            <a href="#">IT and internet industry</a>
                        </li>
                        <li>
                            <a href="#">International trade</a>
                        </li>
                        <li>
                            <a href="#">Manufacturing and production</a>
                        </li>
                        <li>
                            <a href="#">Retail industry</a>
                        </li>
                        <li>
                            <a href="#">Tourism industry</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable nav--primary__active">
                    <a href="/pages/t3">Economy</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Economic output and productivity</a>
                        </li>
                        <li>
                            <a href="#">Environmental account</a>
                        </li>
                        <li class="nav--primary__active">
                            <a href="#">Government, public sector, and taxes</a>
                        </li>
                        <li>
                            <a href="#">Gross Domestic Product (GDP)</a>
                        </li>
                        <li>
                            <a href="#">Gross Values Added (GVA)</a>
                        </li>
                        <li>
                            <a href="/pages/t3">Inflation and price indices</a>
                        </li>
                        <li>
                            <a href="#">Investment and pension trust</a>
                        </li>
                        <li>
                            <a href="#">National accounts</a>
                        </li>
                        <li>
                            <a href="#">Regional accounts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">Employment and Labour Market</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">People in work</a>
                        </li>
                        <li>
                            <a href="#">People not in work</a>
                        </li>
                        <li>
                            <a href="#">Public sector personnel</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">People, Population, and Community</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Births, deaths, and marriages</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li>
                            <a href="#">Education and childcare</a>
                        </li>
                        <li>
                            <a href="#">Crime and justice</a>
                        </li>
                        <li>
                            <a href="#">Household characteristics</a>
                        </li>
                        <li>
                            <a href="#">Well-being</a>
                        </li>
                        <li>
                            <a href="#">Health and social care</a>
                        </li>
                        <li>
                            <a href="#">Elections</a>
                        </li>
                        <li>
                            <a href="#">Personal and household finances</a>
                        </li>
                        <li>
                            <a href="#">Population and migration</a>
                        </li>
                        <li>
                            <a href="#">Cultural identity</a>
                        </li>
                        <li>
                            <a href="#">Housing</a>
                        </li>
                        <li>
                            <a href="#">Leisure and tourism</a>
                        </li>
                    </ul>
                </li>
                <li class="nav--primary__respondents">
                    <a href="#">
                        <span class="icon-comment icon--inline" role="presentation"></span>
                        Taking part in a survey?
                    </a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Release calendar</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Methodology</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">About</a>
                </li>
            </ul>
            <div class="slate--grey search-wrapper">
                <form class="nav-search nav-search--hidden" id="searchBar">
                    <div class="nav-search__container">
                        <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
                        <input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Enter keyword or time series ID">
                    </div>
                    <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
                        <span class="icon-search-1" role="presentation"></span>
                        <span class="visuallyhidden">Search</span>
                    </button>
                </form>
            </div>
    </nav>
    <!-- /header -->
    <!-- page header ("slate") -->
    <div class="page-header slate">
        <div class="wrapper">
            <!-- breadcrumb -->
            <ol class="nav nav--heavy breadcrumb mini flush--half--top">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Methodology</a>
                </li>
                <li>
                    <a href="#">Economy</a>
                </li>
                <li class="nav__active">
                    Consumer Price Inflation
                </li>
            </ol><!-- /breadcrumb -->
            <p class="page-header__title">
                <strong>Quality and methodology information</strong>
            </p>
            <h1 class="page-header__title flush--half--bottom">Consumer Price Inflation</h1>
            <div class="grid-wrap">
                <p class="grid-col tablet-grid-one-quarter">
                    <span>Contact: </span><br/>abs@ons.gov.uk
                </p>
                <p class="grid-col tablet-grid-one-quarter divider--border-left">
                    <span>Last revised: </span><br/>19 Feb 2014
                </p>
                <p class="grid-col tablet-grid-one-half divider--border-left">
                    <span class="icon icon-download"></span>Consumer Price inflation: quality and methodology information
                </p>
            </div>
            <p>Methodology background<p>
            <div class="grid-wrap">
                <p class="grid-col tablet-grid-one-quarter page-header__meta-block-with-img">
                    <img src="http://alpha.ons.gov.uk/ui/img/national-statistics.png" alt="" /><span>Survey name: </span><br/>Survey name
                </p>
                <p class="grid-col tablet-grid-one-quarter divider--border-left">
                    <span>Frequency: </span><br/>Monthly
                </p>
                <p class="grid-col tablet-grid-one-quarter divider--border-left">
                    <span>How compiled: </span><br/>Sample survey based
                </p>
                <p class="grid-col tablet-grid-one-quarter divider--border-left">
                    <span>Graphical coverage: </span><br/>UK
                </p>
            </div>

            <div class="page-header__icons">
	      		<a href="#" class="link-complex">
                    <span class="icon icon-twitter icon--grey">
                        <span class="visuallyhidden">Share on Twitter</span>
                    </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-facebook icon--grey">
                       <span class="visuallyhidden">Share on Facebook</span>
                   </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-linkedin icon--grey">
                       <span class="visuallyhidden">Share on LinkedIn</span>
                   </span>
               </a>
		    </div>
        </div>
    </div>
    <!-- /page header ("slate") -->
    <div class="wrapper panel--mar">
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds">
                <h2>Executive Summary</h2>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                    <li>Donec nulla odio, laoreet sit amet ipsum a, maximus feugiat urna. </li>
                    <li>Integer eget ultrices lorem. Mauris a tincidunt dolor. </li>
                    <li>Donec sed ligula ac neque dignissim ultricies congue et nibh. </li>
                    <li>Phasellus nec turpis diam. Ut dapibus euismod mi non fringilla. </li>
                </ul>

                <p>Cras fringilla neque arcu, eget tristique turpis consectetur eu. Curabitur leo nisi, pulvinar sit amet molestie ac, faucibus sit amet turpis. Maecenas non sollicitudin magna, et convallis turpis.</p>

                <p>Donec fringilla, ante et imperdiet interdum, <a href="#">arcu ipsum</a> mollis odio, vitae euismod augue mi at velit. Ut egestas tortor vel ipsum interdum suscipit. Etiam commodo dolor ut nisl consequat feugiat. Nulla facilisi. Morbi tempus mauris sem, sit amet facilisis tellus facilisis id. Nunc a tortor lacus. Maecenas fermentum libero arcu, at tempus risus laoreet sed. Sed blandit mauris a neque viverra malesuada. Maecenas accumsan maximus leo, nec porta arcu accumsan vel. Praesent rutrum vel turpis vel euismod. Etiam et commodo justo.</p>

                <p>Class aptent taciti sociosqu ad litora <a href="#">torquent per</a> conubia nostra, per inceptos himenaeos. Integer pellentesque imperdiet lacus, eu efficitur sapien maximus ut. Phasellus ut rhoncus est. Mauris non dapibus massa. Cras id interdum elit. Vivamus nec turpis vitae erat dictum dapibus eu eget turpis. Maecenas eu velit id nunc molestie vestibulum nec sit amet nulla. Duis eget mauris nec lorem faucibus egestas nec vitae augue. Curabitur ut scelerisque tortor, at euismod erat. Integer blandit dui vitae orci auctor accumsan. Nam rhoncus dapibus mauris, sit amet iaculis lacus semper quis. Nulla laoreet, quam eu semper malesuada, quam eros malesuada leo, eget cursus tellus purus quis mauris. Donec rhoncus finibus tortor et interdum. Donec in massa sed orci sagittis auctor non congue tortor. Nam porta dui eu dui hendrerit condimentum.</p>

                <p>In ut odio nibh. Aliquam sit amet fringilla quam. Mauris consectetur luctus sollicitudin. Mauris euismod justo sed dignissim condimentum. Nulla faucibus, sapien congue elementum lobortis, mauris mi auctor leo, sed porta mauris lorem eget tellus. Cras non neque auctor, fringilla ante et, posuere orci. Maecenas ligula quam, pretium quis euismod ac, congue vel sem. Duis accumsan pulvinar consequat. Cras sit amet consectetur massa, at sollicitudin ex. Duis vel rhoncus elit. Suspendisse id dui metus. Nam vulputate nunc nec velit tempus, tincidunt suscipit velit iaculis. Ut ac massa non risus accumsan volutpat. Nunc eget justo in ante tristique placerat. Donec imperdiet risus id porta congue. Aenean a egestas dui.</p>

                <p>Vestibulum consectetur lorem mauris, sed egestas nibh consequat id. Quisque tincidunt sapien efficitur elit feugiat, vitae semper nisl scelerisque. Mauris nec lorem suscipit, lacinia ipsum eget, dictum ligula. Aenean mattis, elit quis sollicitudin iaculis, turpis purus aliquam purus, in tincidunt ipsum enim eget mauris. Aliquam erat volutpat. Vestibulum fermentum tortor non ante elementum, a efficitur sapien semper. In hendrerit libero id orci cursus interdum non id nunc. Nullam vitae dui et ligula malesuada rhoncus mattis ac dui. Nunc finibus augue id varius aliquam.</p>
            </div><!-- /grid-two-thirds -->
            <div class="grid-col desktop-grid-one-third">
                <article class="box solid box--teal--separated--left">
                    <div class="box__inner border box--padded">
                        <div class="box__section">
                            <h3 class="box__section__header">
                                This methodolgy is used for
                            </h3>
                        </header>
                        <!-- /box__header -->

                        <div class="box__content">
                            <ul class="list--neutral">
                                <li><a href="#">Consumer price inflation</a></li>
                                <li><a href="#">Economic review</a></li>
                            </ul>
                        </div>
                        <!-- /box__content -->
                    </div>
                    <!-- /box__inner -->
                </article>
                <!-- /box--orange -->
                <!-- lifted box -->
                <article class="box box--padded sectioned">
                    <div class="box__section">
                        <h3 class="box__section__header">
                            Contact details for this methodology
                        </h3>
                    </header>
                    <!-- /box__header -->

                    <div class="box__content">
                        <p>Katherine Pegler<br/>
                        <a href="#">ppi@ons.gsi.gov.uk</a><br/>
                        Telehpone: +44(0)000 000000</p>

                    </div>
                    <!-- /box__content -->
                </article>
                <!-- /box--lifted -->
            </div><!-- /grid-one-third -->
        </div><!-- /grid-wrap -->
        <div class="grid-wrap">
            <div class="grid-col desktop-grid-one-third">
                <article class="box solid box--purple--separated--left">
                    <div class="box__inner border box--padded">
                        <div class="box__section">
                            <h3 class="box__section__header">
                                Download this metholodogy
                            </h3>
                        </div>
                        <!-- /box__header -->

                        <div class="box__content">
                            <a href="#">Consumer Price Inflation: Quality and Metholody information (1.49MB PDF)</a>
                        </div>
                        <!-- /box__content -->
                    </div>
                    <!-- /box__inner -->
                </article>
            </div>
        </div><!-- /grid-wrap -->
    </div>
    <footer class="global-footer">
      <h2 class="visuallyhidden">Footer links</h2>
      <div class="slate--light panel--pad-large panel--separated">
        <div class="wrapper">
          <nav class="grid-wrap">
            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">Legal</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Business Transparency</a>
                </li>
                <li>
                  <a href="#">Terms and Conditions</a>
                </li>
                <li>
                  <a href="#">Copyright</a>
                </li>
                <li>
                  <a href="#">Cookies and Privacy</a>
                </li>
              </ul>
            </div>

            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">About ONS</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Who we are</a>
                </li>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">Products and Services</a>
                </li>
                <li>
                  <a href="#">Contact us</a>
                </li>
                <li>
                  <a href="#">Our offices</a>
                </li>
              </ul>
            </div>

            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">Connect with us</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <a href="#">Twitter</a>
                </li>
                <li>
                  <a href="#">LinkedIn</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- /wrapper -->
      </div>
      <!-- /slate -->
      <div class="slate--mid-grey">
        <div class="wrapper">
          <div class="footer__license">
            <img class="footer__license__img" alt="OGL" width="60" src="http://onsdigital.github.io/pattern-library/ui/img/ogl.png">
            <p class="footer__license__body">
              All content is available under the Open Government Licence v2.0, except where otherwise stated
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
</body>
<script src="js/jquery.min.js"></script>

</html>
