<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
   <title>T7-3</title>
   <link rel="stylesheet" type="text/css" href="../../node_modules/ONS-Pattern-Library/dist/css/main.css">
   <script src="../../node_modules/ONS-Pattern-Library/dist/js/header.min.js"></script>
</head>
<body>
    <header class="global-header">
        <div class="global-header__wrapper">
            <a class="main-logo" href="/">
                <img src="../../ui/img/ons-logo.svg" alt="Office for National Statistics">
            </a>
            <ul class="nav globaltop-nav">
                <li>
                    <a href="#">Release Calendar</a>
                </li>
                <li>
                    <a href="#">Methodology</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
    </header>
    <nav class="ons-nav">
        <ul class="nav nav--controls">
            <li class="nav--controls__menu">
                <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
                    <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
                    <span class="nav--controls__text">Menu</span>
                </a>
            </li>
            <li class="nav--controls__search">
                <a href="#nav-search" id="search-toggle" aria-controls="nav-search">
                    <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
                    <span class="nav--controls__text">Search</span>
                </a>
            </li>
        </ul>
        <ul class="nav nav--block nav--primary" id="nav-primary">
            <li class="nav--primary__hide-small-med">
                <a href="/pages/t1">Home</a>
            </li>
            <li class="nav__expandable js-expandable">
                <a href="#">Business, Industry, and Trade</a>
                <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                    <li>
                        <a href="#">Business</a>
                        </li>
                        <li>
                            <a href="#">Changes to business</a>
                        </li>
                        <li>
                            <a href="#">Construction and industry</a>
                        </li>
                        <li>
                            <a href="#">IT and internet industry</a>
                        </li>
                        <li>
                            <a href="#">International trade</a>
                        </li>
                        <li>
                            <a href="#">Manufacturing and production</a>
                        </li>
                        <li>
                            <a href="#">Retail industry</a>
                        </li>
                        <li>
                            <a href="#">Tourism industry</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable nav--primary__active">
                    <a href="/pages/t3">Economy</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Economic output and productivity</a>
                        </li>
                        <li>
                            <a href="#">Environmental account</a>
                        </li>
                        <li class="nav--primary__active">
                            <a href="#">Government, public sector, and taxes</a>
                        </li>
                        <li>
                            <a href="#">Gross Domestic Product (GDP)</a>
                        </li>
                        <li>
                            <a href="#">Gross Values Added (GVA)</a>
                        </li>
                        <li>
                            <a href="/pages/t3">Inflation and price indices</a>
                        </li>
                        <li>
                            <a href="#">Investment and pension trust</a>
                        </li>
                        <li>
                            <a href="#">National accounts</a>
                        </li>
                        <li>
                            <a href="#">Regional accounts</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">Employment and Labour Market</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">People in work</a>
                        </li>
                        <li>
                            <a href="#">People not in work</a>
                        </li>
                        <li>
                            <a href="#">Public sector personnel</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__expandable js-expandable">
                    <a href="#">People, Population, and Community</a>
                    <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
                        <li>
                            <a href="#">Births, deaths, and marriages</a>
                        </li>
                        <li>
                            <a href="#">Community</a>
                        </li>
                        <li>
                            <a href="#">Education and childcare</a>
                        </li>
                        <li>
                            <a href="#">Crime and justice</a>
                        </li>
                        <li>
                            <a href="#">Household characteristics</a>
                        </li>
                        <li>
                            <a href="#">Well-being</a>
                        </li>
                        <li>
                            <a href="#">Health and social care</a>
                        </li>
                        <li>
                            <a href="#">Elections</a>
                        </li>
                        <li>
                            <a href="#">Personal and household finances</a>
                        </li>
                        <li>
                            <a href="#">Population and migration</a>
                        </li>
                        <li>
                            <a href="#">Cultural identity</a>
                        </li>
                        <li>
                            <a href="#">Housing</a>
                        </li>
                        <li>
                            <a href="#">Leisure and tourism</a>
                        </li>
                    </ul>
                </li>
                <li class="nav--primary__respondents">
                    <a href="#">
                        <span class="icon-comment icon--inline" role="presentation"></span>
                        Taking part in a survey?
                    </a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Release calendar</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">Methodology</a>
                </li>
                <li class="nav--primary__secondary-content">
                    <a href="#">About</a>
                </li>
            </ul>
            <div class="slate--grey search-wrapper">
                <form class="nav-search nav-search--hidden" id="searchBar">
                    <div class="nav-search__container">
                        <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
                        <input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Enter keyword or time series ID">
                    </div>
                    <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
                        <span class="icon-search-1" role="presentation"></span>
                        <span class="visuallyhidden">Search</span>
                    </button>
                </form>
            </div>
    </nav>
    <!-- /header -->
    <!-- page header ("slate") -->
    <div class="page-header slate slate--red">
        <div class="wrapper">
            <!-- breadcrumb -->
                <ol class="nav nav--heavy breadcrumb mini flush--half--top">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Corporate information</a>
                    </li>
                    <li>
                        <a href="#">Freedom of infomation</a>
                    </li>
                    <li>
                        <a href="#">Disclosure log</a>
                    </li>
                    <li class="nav__active">
                        Raspberry production
                    </li>
                </ol>
            <!-- /breadcrumb -->
            <p class="page-header__title">
                <strong>Freedom of information (FOI)</strong>
            </p>
            <h1 class="page-header__title flush--half--bottom">Raspberry production</h1>
            <div class="grid-wrap">
                <p class="grid-col desktop-grid-one-quarter">
                    <span>Release date: </span><br/>23 Mar 2015
                </p>
            </div>
            <div class="page-header__icons">
                <a href="#" class="link-complex">
                    <span class="icon icon-twitter icon--grey">
                        <span class="visuallyhidden">Share on Twitter</span>
                    </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-facebook icon--grey">
                       <span class="visuallyhidden">Share on Facebook</span>
                   </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-linkedin icon--grey">
                       <span class="visuallyhidden">Share on LinkedIn</span>
                   </span>
               </a>
            </div>
        </div>
    </div>
    <!-- /page header ("slate") -->
    <div class="wrapper panel--mar">

        <div class="grid-wrap">
            <div class="grid-col desktop-grid-two-thirds">
                <h2>Summary of request</h2>
                <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit.</a> Donec nulla odio, laoreet sit amet ipsum a, maximus feugiat urna. Integer eget ultrices lorem. Mauris a tincidunt dolor. Donec sed ligula ac neque dignissim ultricies congue et nibh. Phasellus nec turpis diam. Ut dapibus euismod mi non fringilla. Cras fringilla neque arcu, eget tristique turpis consectetur eu. Curabitur leo nisi, pulvinar sit amet molestie ac, faucibus sit amet turpis. Maecenas non sollicitudin magna, et convallis turpis.</p>

                <h2>Summary of response</h2>
                <p>Donec fringilla, ante et imperdiet interdum, arcu ipsum mollis odio, vitae euismod augue mi at velit. </p>

                <p>Ut egestas tortor vel ipsum interdum suscipit. Etiam commodo dolor ut nisl consequat feugiat. Nulla facilisi. Morbi tempus mauris sem, sit amet facilisis tellus facilisis id. Nunc a tortor lacus. Maecenas fermentum libero arcu, at tempus risus laoreet sed. Sed blandit mauris a neque viverra malesuada. Maecenas accumsan maximus leo, nec porta arcu accumsan vel. Praesent rutrum vel turpis vel euismod. Etiam et commodo justo.</p>

                <p><a href="">Contributions to the annual CPI inflation rate, by degree of import penetration</a></p>
            </div><!-- /grid-two-thirds -->
            <div class="grid-col desktop-grid-one-third">
                <article class="box solid box--purple--separated--left">
                    <div class="box__inner border box--padded">
                        <div class="box__section">
                            <h3 class="box__section__header">
                                Making a FOI request
                            </h3>
                        </header>
                        <!-- /box__header -->
                        <div class="box__content">
                                <a href="#">Everything you need to about FOIs</a>
                        </div>
                        <!-- /box__content -->
                    </div>
                    <!-- /box__inner -->
                </article>
                <!-- /box--blue -->

            </div><!-- /grid-one-third -->
        </div><!-- /grid-wrap -->
    </div>
    <footer class="global-footer">
      <h2 class="visuallyhidden">Footer links</h2>
      <div class="slate--light panel--pad-large panel--separated">
        <div class="wrapper">
          <nav class="grid-wrap">
            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">Legal</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Business Transparency</a>
                </li>
                <li>
                  <a href="#">Terms and Conditions</a>
                </li>
                <li>
                  <a href="#">Copyright</a>
                </li>
                <li>
                  <a href="#">Cookies and Privacy</a>
                </li>
              </ul>
            </div>

            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">About ONS</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Who we are</a>
                </li>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">Products and Services</a>
                </li>
                <li>
                  <a href="#">Contact us</a>
                </li>
                <li>
                  <a href="#">Our offices</a>
                </li>
              </ul>
            </div>

            <div class="grid-col tablet-grid-one-third">
              <h3 class="delta headline-separated">Connect with us</h3>
              <ul class="list--neutral list--grid list--spaced">
                <li>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <a href="#">Twitter</a>
                </li>
                <li>
                  <a href="#">LinkedIn</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <!-- /wrapper -->
      </div>
      <!-- /slate -->
      <div class="slate--mid-grey">
        <div class="wrapper">
          <div class="footer__license">
            <img class="footer__license__img" alt="OGL" width="60" src="../../ui/img/ogl.png">
            <p class="footer__license__body">
              All content is available under the Open Government Licence v2.0, except where otherwise stated
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../node_modules/ONS-Pattern-Library/dist/js/footer.min.js"></script>
</body>
<script src="js/jquery.min.js"></script>

</html>
