<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>T8.3</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="on" http-equiv="cleartype" />
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]><![endif]-->
    <!--[if lte IE 8]>
<link rel="stylesheet" href="./dist/css/oldie.css"/>
<![endif]-->
    <!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
		<![endif]-->
  	<script src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
  </head>
  <body class="">
    <a class="skiplink visuallyhidden focusable" href="#main" tabindex="0">
      <span>Skip to main content</span>
    </a>
		<header class="global-header">
		  <div class="global-header__wrapper">
		    <a class="main-logo" href="/">
		      <img src="../../node_modules/ONS-Pattern-Library/ui/img/ons-logo.svg" alt="Office for National Statistics">
		    </a>
		    <ul class="nav globaltop-nav">
		      <li>
		        <a href="#">Release Calendar</a>
		      </li>
		      <li>
		        <a href="#">Methodology</a>
		      </li>
		      <li>
		        <a href="#">About</a>
		      </li>
		    </ul>
				<!-- / globaltop-nav -->
		  </div>
			<!-- / global-header__wrapper -->
		</header>
		<!-- / global-header -->
		<nav class="ons-nav">
		  <ul class="nav nav--controls">
		    <li class="nav--controls__menu">
		      <a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
		        <span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
		        <span class="nav--controls__text">Menu</span>
		      </a>
		    </li>
		    <li class="nav--controls__search">
		      <a href="#nav-search" id="search-toggle" aria-controls="nav-search">
		        <span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
		        <span class="nav--controls__text">Search</span>
		      </a>
		    </li>
		  </ul>
		  <ul class="nav nav--block nav--primary" id="nav-primary">
		    <li class="nav--primary__hide-small-med">
		      <a href="/pages/t1">Home</a>
		    </li>
		    <li class="nav__expandable js-expandable">
		      <a href="#">Business, Industry, and Trade</a>
		      <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
		        <li>
		          <a href="#">Business</a>
		        </li>
		        <li>
		          <a href="#">Changes to business</a>
		        </li>
		        <li>
		          <a href="#">Construction and industry</a>
		        </li>
		        <li>
		          <a href="#">IT and internet industry</a>
		        </li>
		        <li>
		          <a href="#">International trade</a>
		        </li>
		        <li>
		          <a href="#">Manufacturing and production</a>
		        </li>
		        <li>
		          <a href="#">Retail industry</a>
		        </li>
		        <li>
		          <a href="#">Tourism industry</a>
		        </li>
		      </ul>
		    </li>
		    <li class="nav__expandable js-expandable nav--primary__active">
		      <a href="/pages/t3">Economy</a>
		      <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
		        <li>
		          <a href="#">Economic output and productivity</a>
		        </li>
		        <li>
		          <a href="#">Environmental account</a>
		        </li>
		        <li class="nav--primary__active">
		          <a href="#">Government, public sector, and taxes</a>
		        </li>
		        <li>
		          <a href="#">Gross Domestic Product (GDP)</a>
		        </li>
		        <li>
		          <a href="#">Gross Values Added (GVA)</a>
		        </li>
		        <li>
		          <a href="/pages/t3">Inflation and price indices</a>
		        </li>
		        <li>
		          <a href="#">Investment and pension trust</a>
		        </li>
		        <li>
		          <a href="#">National accounts</a>
		        </li>
		        <li>
		          <a href="#">Regional accounts</a>
		        </li>
		      </ul>
		    </li>
		    <li class="nav__expandable js-expandable">
		      <a href="#">Employment and Labour Market</a>
		      <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
		        <li>
		          <a href="#">People in work</a>
		        </li>
		        <li>
		          <a href="#">People not in work</a>
		        </li>
		        <li>
		          <a href="#">Public sector personnel</a>
		        </li>
		      </ul>
		    </li>
		    <li class="nav__expandable js-expandable">
		      <a href="#">People, Population, and Community</a>
		      <ul class="nav--primary__sub js-expandable__content js-nav-hidden">
		        <li>
		          <a href="#">Births, deaths, and marriages</a>
		        </li>
		        <li>
		          <a href="#">Community</a>
		        </li>
		        <li>
		          <a href="#">Education and childcare</a>
		        </li>
		        <li>
		          <a href="#">Crime and justice</a>
		        </li>
		        <li>
		          <a href="#">Household characteristics</a>
		        </li>
		        <li>
		          <a href="#">Well-being</a>
		        </li>
		        <li>
		          <a href="#">Health and social care</a>
		        </li>
		        <li>
		          <a href="#">Elections</a>
		        </li>
		        <li>
		          <a href="#">Personal and household finances</a>
		        </li>
		        <li>
		          <a href="#">Population and migration</a>
		        </li>
		        <li>
		          <a href="#">Cultural identity</a>
		        </li>
		        <li>
		          <a href="#">Housing</a>
		        </li>
		        <li>
		          <a href="#">Leisure and tourism</a>
		        </li>
		      </ul>
		    </li>
		    <li class="nav--primary__respondents">
		      <a href="#">
		        <span class="icon-comment icon--inline" role="presentation"></span>
		        Taking part in a survey?
		      </a>
		    </li>
		    <li class="nav--primary__secondary-content">
		      <a href="#">Release calendar</a>
		    </li>
		    <li class="nav--primary__secondary-content">
		      <a href="#">Methodology</a>
		    </li>
		    <li class="nav--primary__secondary-content">
		      <a href="#">About</a>
		    </li>
		  </ul>
		  <div class="slate--grey search-wrapper">
		    <form class="nav-search nav-search--hidden" id="searchBar">
		      <div class="nav-search__container">
		        <label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
		        <input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Enter keyword or time series ID">
		      </div>
		      <button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
		        <span class="icon-search-1" role="presentation"></span>
		        <span class="visuallyhidden">Search</span>
		      </button>
		    </form>
		  </div>
		</nav>
		<!-- / nav -->
		<div class="page-header slate slate--light-green">
		  <div class="wrapper">
				  <ol class="nav nav--heavy breadcrumb mini flush--half--top">
				    <li>
				      <a href="#">Home</a>
				    </li>
				    <li>
				      <a href="#">Business, industry and trade</a>
				    </li>
				    <li>
				      <a href="#">Manufacturing and production industry</a>
				    </li>
				    <li class="nav__active">
				     Output in production industry
				    </li>
				  </ol>
				<!-- / breadcrumb -->
			</div>
			<div class="wrapper">
				<p class="page-header__title">
        	<strong>Dataset</strong>
        </p>

		    <h1 class="page-header__title flush--half--bottom">Heading 1</h1>

				<div class="grid-wrap">
					<p class="grid-col tablet-grid-one-quarter page-header__meta-block-with-img">

							<img src="../../node_modules/ONS-Pattern-Library/ui/img/national-statistics.png" alt="ONS logo" width="50rem">
							<span>Contact: </span><a href="#">John Smith</a>

					<p class="grid-col tablet-grid-one-quarter divider--border-left">

							<span>Release date: </span>22 Aug 2015
							</br>
							<a href="#">previous versions</a>

					</p>
					<p class="grid-col tablet-grid-one-quarter divider--border-left">

							<span>Next release: </span>
							24 Sep 2015

					</p>
					<p class="grid-col tablet-grid-one-quarter divider--border-left">

						<span>Dataset id: </span>DAT123
						<a href="#">what is this?</a>

					</p>
				</div>
				<!-- /grip-wrap -->

		    <div class="page-header__icons">
	      		<a href="#" class="link-complex">
                    <span class="icon icon-twitter icon--grey">
                        <span class="visuallyhidden">Share on Twitter</span>
                    </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-facebook icon--grey">
                       <span class="visuallyhidden">Share on Facebook</span>
                   </span>
               </a>
               <a href="#" class="link-complex">
                   <span class="icon icon-linkedin icon--grey">
                       <span class="visuallyhidden">Share on LinkedIn</span>
                   </span>
               </a>
		    </div>
				<!-- / page-header__icons  -->
		  </div>
			<!-- / wrapper -->
		</div>
		<!-- / page-header -->

		<div class="wrapper panel--mar ">
			<div class="grid-wrap">
				<div class="grid-col desktop-grid-full-width">
					<p class="lede">
						Index values and growth rates for production, manufacturing, and main industrial groupings.
					</p>
				</div>
				<!-- /grid-col -->

				<div class="grid-col desktop-grid-two-thirds">
				  <div class="wrapper panel--pad-small muted--dark">
				    <h3>Your download options</h3>
						<ul class="list--neutral">
							<li>
								<article class="box box--padded--med solid">
									<div class="box--content">
										<div class="grid-wrap">
											<div class="grid-col tablet-grid-one-quarter">
												<p>
													Latest version
												</p>
											</div>
											<div class="grid-col tablet-grid-three-quarters">
												<a href="#" class="btn btn--primary btn--block btn--thin">XLSX (404 KB) <span class="icon-download"></span></a>
										  </footer>
											</div>
										</div>
										<!-- /grid-wrap -->
									</div>
									<!-- /box--content -->
								</article>
								<!-- /box -->
							</li>
						</ul>
				  </div>
					<!-- /wrapper -->

					<div class="panel--top-pad">
						<h3>Important notes and usage information</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id tempus eros, ac molestie arcu. Donec at quam ut nibh pellentesque eleifend. Nullam mollis odio sem, vel efficitur nisl tincidunt ac. Fusce dapibus ante et leo ullamcorper, non viverra erat sagittis.
						</p>
						<p>
							Donec ultricies dui at ante egestas condimentum at ac diam. Phasellus interdum elit eu mi interdum gravida non a ante. Curabitur pretium eu arcu eu dapibus. Pellentesque dictum pellentesque felis a tincidunt. Pellentesque a mi ipsum. In eget ex quam.
						</p>
						<p>
							Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ante urna, lacinia sit amet consequat a, aliquet non enim.
						</p>
						<p>
							Morbi sit amet convallis lorem. Etiam at convallis nulla, non commodo ligula. Proin porttitor egestas nulla vitae posuere. Fusce aliquet dignissim arcu quis interdum. Donec consequat convallis lorem. Quisque orci metus, pretium nec est in, lacinia accumsan nibh. Pellentesque finibus justo a ante semper accumsan. Curabitur mattis mauris nec augue ornare, ut condimentum purus posuere.
						</p>

						<h3>Upcoming changes</h3>
						<p>
							Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent ante urna, lacinia sit amet consequat a, aliquet non enim.
						</p>

						<h3>Interpreting the data</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id tempus eros, ac molestie arcu. Donec at quam ut nibh pellentesque eleifend. Nullam mollis odio sem, vel efficitur nisl tincidunt ac. Fusce dapibus ante et leo ullamcorper, non viverra erat sagittis.
						</p>
						<p>
							Fusce aliquet dignissim arcu quis interdum. Donec consequat convallis lorem.
						</p>
						<ul>
							<li>
								Nullam mollis odio sem, vel efficitur nisl tincidunt ac
							</li>
							<li>
								Praesent ante urna, lacinia sit amet consequat a, aliquet non enim.
							</li>
							<li>
								Nullam mollis odio sem, vel efficitur nisl tincidunt ac
							</li>
						</ul>
					</div>
					<!-- /panel -->
				</div>
				<!-- /grid-col desktop-grid-two-thirds -->

				<div class="grid-col desktop-grid-one-third">
					<article class="box solid box--green--separated--left">
						<div class="ox__inner border box--padded">
							<header class="box__header">
								<h3>Related datasets</h3>
							</header>
							<div class="box__content">
								<ul class="list--neutral">
									<li><a>Link to related dataset</a></li>
									<li><a>Link to related dataset</a></li>
								</ul>
							</div>
						</div>
						<!-- /box__inner -->
					</article>
					<!-- /box -->

					<article class="box solid box--teal--separated--left">
						<div class="ox__inner border box--padded">
							<header class="box__header">
								<h3>Statistical bulletins and articles that use this time series</h3>
							</header>
							<div class="box__content">
								<ul class="list--neutral">
									<li><a>Link to bulletin or article</a></li>
									<li><a>Link to bulletin or article</a></li>
								</ul>
							</div>
						</div>
						<!-- /box__inner -->
					</article>
					<!-- /box -->
				</div>
				<!-- /grid-col -->
				<div class="grid-col desktop-grid-full-width">
					<div class="grid-wrap">
						<div class="grid-col desktop-grid-one-half">
							<article class="box box--padded sectioned">
								<header class="box__header">
									<h3>Methodology</h3>
								</header>
								<div class="box__content">
									<ul class="list--neutral">
										<li>
											<a href="#">Link to methodology</a>
										</li>
										<li>
											<a href="#">Link to methodology</a>
										</li>
										<li>
											<a href="#">Link to methodology</a>
										</li>
									</ul>
								</div>
							</article>
						</div>
						<!-- /grid-desktop-one-half -->
						<div class="grid-col desktop-grid-one-half">
							<article class="box box--padded sectioned">
								<header class="box__header">
									<h3>Contact details</h3>
								</header>
								<div class="box__content">
									<ul class="list--neutral">
										<li>
											John Smith
										</li>
										<li>
											<a href="#">john.smith@email.address.com</a>
										</li>
										<li>
											+44 (0)1633 454545
										</li>
									</ul>
								</div>
							</article>
						</div>
						<!-- /grid-desktop-one-half -->
					</div>
					<!-- /grid-wrap -->
				</div>
				<!--/grid-col desktop-grid-full-width -->
			</div>
			<!-- /grid-wrap -->
		</div>
		<!-- /wrapper -->

    <footer class="global-footer">
		  <h2 class="visuallyhidden">Footer links</h2>
		  <div class="slate--light panel--pad-large panel--separated">
		    <div class="wrapper">
		      <nav class="grid-wrap">
		        <div class="grid-col tablet-grid-one-third">
		          <h3 class="delta headline-separated">Legal</h3>
		          <ul class="list--neutral list--grid list--spaced">
		            <li>
		              <a href="#">Business Transparency</a>
		            </li>
		            <li>
		              <a href="#">Terms and Conditions</a>
		            </li>
		            <li>
		              <a href="#">Copyright</a>
		            </li>
		            <li>
		              <a href="#">Cookies and Privacy</a>
		            </li>
		          </ul>
		        </div>

		        <div class="grid-col tablet-grid-one-third">
		          <h3 class="delta headline-separated">About ONS</h3>
		          <ul class="list--neutral list--grid list--spaced">
		            <li>
		              <a href="#">Who we are</a>
		            </li>
		            <li>
		              <a href="#">Careers</a>
		            </li>
		            <li>
		              <a href="#">Products and Services</a>
		            </li>
		            <li>
		              <a href="#">Contact us</a>
		            </li>
		            <li>
		              <a href="#">Our offices</a>
		            </li>
		          </ul>
		        </div>

		        <div class="grid-col tablet-grid-one-third">
		          <h3 class="delta headline-separated">Connect with us</h3>
		          <ul class="list--neutral list--grid list--spaced">
		            <li>
		              <a href="#">Facebook</a>
		            </li>
		            <li>
		              <a href="#">Twitter</a>
		            </li>
		            <li>
		              <a href="#">YouTube</a>
		            </li>
		            <li>
		              <a href="#">Email subscriptions</a>
		            </li>
		          </ul>
		        </div>
		      </nav>
		    </div>
		    <!-- /wrapper -->
		  </div>
		  <!-- /slate -->
		  <div class="slate--mid-grey">
		    <div class="wrapper">
		      <div class="footer__license">
		        <img class="footer__license__img" alt="OGL" width="60" src="../../node_modules/ONS-Pattern-Library/ui/img/ogl.png">
		        <p class="footer__license__body">
		          All content is available under the Open Government Licence v2.0, except where otherwise stated
		        </p>
		      </div>
		    </div>
		  </div>
		</footer>

		<script src="http://onsdigital.github.io/pattern-library/dist/js/footer.js"></script>
	</body>
</html>
