<!--[if IE]><![endif]-->
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8"><![endif]-->
<!--[if IE 9]><html class="no-js ie9"><![endif]-->
<!--[if gt IE 8]><!--><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>National accounts</title>
    <meta charset="utf-8" />
    <meta content="width=device-width,initial-scale=1.0" name="viewport" />
    <meta content="on" http-equiv="cleartype" />
    <meta name="format-detection" content="telephone=no">
    <!--[if IE]><![endif]-->
    <!--[if lte IE 8]>
<link rel="stylesheet" href="./dist/css/oldie.css"/>
<![endif]-->
    <!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="../../node_modules/ONS-Pattern-Library/dist/css/main.min.css"/>
		<![endif]-->
		<link rel="stylesheet" href="../../css/js-enhance.css"/>
  	<script src="../../node_modules/ONS-Pattern-Library/dist/js/header.js"></script>
  </head>
  <body class="">
  	<!--<script type="text/javascript" src="/js/js-enhance-loading.js"></script>-->
	<a class="skiplinks visuallyhidden focusable" href="#main" tabindex="0">
		<span>Skip to main content</span>
	</a>

	<!-- Pattern library page header -->
	<header class="global-header">
		<div class="global-header__wrapper">
			<a class="main-logo" href="/">
				<img src="../../node_modules/ONS-Pattern-Library/ui/img/ons-logo.png" alt="Office for National Statistics">
			</a>
			<ul class="nav globaltop-nav">
				<li>
					<a href="#">Release Calendar</a>
				</li>
				<li>
					<a href="#">Methodology</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
			</ul>
		</div>
	</header>
	<nav class="ons-nav print-hidden">
		<ul class="nav nav--controls">
			<li class="nav--controls__menu">
				<a href="#nav-primary" id="menu-toggle" aria-controls="nav-primary">
					<span class="nav--controls__icon icon-menu icon--inline icon--large" role="presentation"></span>
					<span class="nav--controls__text">Menu</span>
				</a>
			</li>
			<li class="nav--controls__search">
				<a href="#nav-search" id="search-toggle" aria-controls="nav-search">
					<span class="nav--controls__icon icon-search-1 icon--inline icon--large" role="presentation"></span>
					<span class="nav--controls__text">Search</span>
				</a>
			</li>
		</ul>
		<ul class="nav nav--block nav--primary" id="nav-primary">
			<li class="nav--primary__hide-small-med">
				<a href="/">Home</a>
			</li>
			
				<li class="nav__expandable js-expandable">
					<a href="/businessindustryandtrade">Business, industry and trade</a>
						<ul class="nav--primary__sub js-expandable__content js-nav-hidden">
							
								<li>
									<a href="/businessindustryandtrade/retailindustry">Retail industry</a>
								</li>
							
								<li>
									<a href="/businessindustryandtrade/internationaltrade">International trade</a>
								</li>
							
								<li>
									<a href="/businessindustryandtrade/manufacturingandproductionindustry">Manufacturing and production industry</a>
								</li>
							
								<li>
									<a href="/businessindustryandtrade/constructionindustry">Construction industry</a>
								</li>
							
								<li>
									<a href="/businessindustryandtrade/businessactivitysizeandlocation">Business activity, size and location</a>
								</li>
							
								<li>
									<a href="/businessindustryandtrade/changestobusiness">Changes to business</a>
								</li>
							
								<li>
									<a href="/businessindustryandtrade/itandinternetindustry">IT and internet industry</a>
								</li>
							
								<li>
									<a href="/businessindustryandtrade/tourismindustry">Tourism industry</a>
								</li>
							 <!-- /each to find 2nd level nodes -->
						</ul>
				</li>
			
				<li class="nav__expandable js-expandable">
					<a href="/economy">Economy</a>
						<ul class="nav--primary__sub js-expandable__content js-nav-hidden">
							
								<li>
									<a href="/economy/inflationandpriceindices">Inflation and price indices</a>
								</li>
							
								<li>
									<a href="/economy/grossdomesticproductgdp">Gross Domestic Product (GDP)</a>
								</li>
							
								<li>
									<a href="/economy/governmentpublicsectorandtaxes">Government, public sector and taxes</a>
								</li>
							
								<li>
									<a href="/economy/economicoutputandproductivity">Economic output and productivity</a>
								</li>
							
								<li>
									<a href="/economy/regionalaccounts">Regional accounts</a>
								</li>
							
								<li>
									<a href="/economy/grossvalueaddedgva">Gross Value Added (GVA)</a>
								</li>
							
								<li>
									<a href="/economy/nationalaccounts">National Accounts</a>
								</li>
							
								<li>
									<a href="/economy/environmentalaccounts">Environmental accounts</a>
								</li>
							
								<li>
									<a href="/economy/investmentspensionsandtrusts">Investments, pensions and trusts</a>
								</li>
							 <!-- /each to find 2nd level nodes -->
						</ul>
				</li>
			
				<li class="nav__expandable js-expandable">
					<a href="/employmentandlabourmarket">Employment and Labour market</a>
						<ul class="nav--primary__sub js-expandable__content js-nav-hidden">
							
								<li>
									<a href="/employmentandlabourmarket/peopleinwork">People in work</a>
								</li>
							
								<li>
									<a href="/employmentandlabourmarket/unemployment">Unemployment</a>
								</li>
							
								<li>
									<a href="/employmentandlabourmarket/publicsectorpersonnel">Public sector personnel</a>
								</li>
							 <!-- /each to find 2nd level nodes -->
						</ul>
				</li>
			
				<li class="nav__expandable js-expandable">
					<a href="/peoplepopulationandcommunity">People, population and community</a>
						<ul class="nav--primary__sub js-expandable__content js-nav-hidden">
							
								<li>
									<a href="/peoplepopulationandcommunity/birthsdeathsandmarriages">Births, deaths and marriages</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/populationandmigration">Population and migration</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/healthandsocialcare">Health and social care</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/culturalidentity">Cultural identity</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/crimeandjustice">Crime and justice</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/housing">Housing</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/personalandhouseholdfinances">Personal and household finances</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/wellbeing">Well-being</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/leisureandtourism">Leisure and tourism</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/homeinternetandsocialmediausage">Home internet and social media usage</a>
								</li>
							
								<li>
									<a href="/peoplepopulationandcommunity/elections">Elections</a>
								</li>
							 <!-- /each to find 2nd level nodes -->
						</ul>
				</li>
			 <!-- /each to find 1st level nodes -->
			<li class="nav--primary__respondents">
				<a href="#">
					<span class="icon-comment icon--inline" role="presentation"></span>
					Taking part in a survey?
				</a>
			</li>
			<li class="nav--primary__secondary-content">
				<a href="#">Release calendar</a>
			</li>
			<li class="nav--primary__secondary-content">
				<a href="#">Methodology</a>
			</li>
			<li class="nav--primary__secondary-content">
				<a href="#">About</a>
			</li>
		</ul> <!-- /nav-primary -->

		<div class="slate--grey search-wrapper">
			<form class="nav-search nav-search--hidden" id="searchBar">
				<div class="nav-search__container">
					<label class="visuallyhidden" for="nav-search">Search for keyword or time series ID</label>
					<input type="search" class="nav-search__field" id="nav-search" name="nav-search" value="" placeholder="Search for keyword or time series ID">
				</div>
				<button type="submit" class="btn btn--primary btn--nav-search" id="nav-search-submit">
				<span class="icon-search-1" role="presentation"></span>
				<span class="visuallyhidden">Search</span>
				</button>
			</form>
		</div>
	</nav>

<main id="main" role="main" tabindex="-1">
	<div class="wrapper panel--top-mar">
			<ol class="nav nav--heavy breadcrumb breadcrumb_hero mini">
		
		<li>
			<a href="/">Home</a>
		</li>
		
		<li>
			<a href="/economy">Economy</a>
		</li>
		
		<li>
			<a href="/economy/inflationandpriceindices">Inflation and price indices</a>
		</li>
		
		<li class="nav__active breadcrumb">
			National accounts
		</li>
	</ol>
	<!-- /breadcrumb -->

		<h1 class="page-header__title flush--half--bottom">User requested data</h1>
		<p>
			
			<span class="stand-out-text">8</span> results for <strong>user requested data</strong> related to <strong>National accounts</strong>.
			
		</p>
	</div>
	<!-- /wrapper -->
	<div class="wrapper panel--mar">
		
		<div class="grid-wrap panel--bottom-mar">
			<div class="grid-col mini desktop-grid-one-third desktop-grid-push-two-thirds">
				<p class="flush">
					Get updates to this list
					<a href="#" class="icon-mail">Email</a>
					<a href="#" class="icon-rss">RSS</a>
				</p>
			</div>
			<!-- /desktop-grid -->
		</div>
		<!-- /grid-wrap -->
		<div class="grid-wrap">
			<div class="grid-col desktop-grid-one-third">
				<article class="box box--padded sectioned">
					<form id="filters">
						<div class="panel panel--bottom-pad panel--separated--bottom flush">
							<h3 class="flush float-left">Refine results</h3>
							<button type="reset" value="Reset" class="btn btn--primary btn--small btn--thin btn--narrow btn--clear-results float-right">Clear</button>
						</div>
						<div class="box__content">
							<label class="field flush field--spaced field--text">
								<span class="panel panel--separated--bottom block">Contains</span>
								<input class="input input--med" type="text" placeholder="Keywords">
							</label>
							<p class="panel panel--separated--bottom field--text">Release date</p>
							<label class="field field--spaced field--text">
								<span class="flush">Published after</span>
								<input class="input input--med" type="text" placeholder="eg 01/01/2015">
							</label>
							<label class="field field--spaced field--text">
								<p class="flush">Published before</p>
								<input class="input input--med" type="text" placeholder="eg 01/02/2015">
							</label>
							<div class="panel panel--separated--bottom">
								<label for="select">Topics</label>
							</div>
							<div class="field field--spaced">
								<select class="input input--mini" id="select" name="Topics">
								<option value="1" selected>All</option>
								
								<option value="0">Business, industry and trade</option>
								
								<option value="1">Economy</option>
								
								<option value="2">Employment and Labour market</option>
								
								<option value="3">People, population and community</option>
								
							</select>
							</div>
							<!-- /field drop-down -->
						</div>
					</form>
					<!-- /box__content -->
				</article>
				<!-- /box 'refine results' -->
				<article class="box box--purple box--purple--separated--left">
					<div class="box__inner border box--padded">
						<header class="box__header">
							<h3 class="gamma">Need an earlier release?</h3>
						</header>
						<div class="box__content">
							<p>
								We moved them to <a href="#">The National Archives</a> website, to keep this website as responsive as possible.
							</p>
							<p>
								<strong>Please note: </strong>all historical data is still on this website.
							</p>
						</div>
					</div>
					<!-- /box__inner -->
				</article>
				<!-- /box -->
			</div>
			<!-- /desktop-grid-one-third -->
			<div class="grid-col desktop-grid-two-thirds">
				<ul class="list--neutral">
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts/estimatedimportintesity">Estimated import intensity of household consumption by classification of Individual Consumption According to Purpose (COICOP): 2010</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004124
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>For each COICOP (Classification of Individual Consumption According to Purpose) class, the estimated 'import intensity' of final household consumption is given. 'Import intensity' refers to the percentage of final household consumption which is directly due to imports. This does not include the effect of goods which are imported and then used as inputs for goods produced domestically. As imports data is provided on a Classification of Products by Activity (CPA) basis which is not directly comparable to the COICOP classifcation, these estimates should be regarded as indicative.</p>
					</li>
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts">Breakdown of individuals with first and second defined benefit pension, by age and value: 2010/12</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004111
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>Breakdown of individuals with first and second defined benefit pension, by age and value: 2010/12.</p>
					</li>
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts">Expenditure by gross income band, for households comprising 2 adults non-retired, UK, 2013</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004099
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>Expenditure by specified gross income band, for households comprising 2 adults non-retired, UK, 2013.</p>
					</li>
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts">Capital Services Estimates to 2013 - Supporting Information</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004074
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>GFCF volumes and deflators by Asset and Industry.</p>
					</li>
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts">Calculating a Retrospective Superlative Consumer Prices Index for the UK</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004072
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>A data series that underpins charts 3, 5 and 7 in the methodological article 'Calculating a retrospective superlative CPI for the UK' originally published in December 2014.</p>
					</li>
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts">Expenditure by gross income band, for households comprising 2 adults non-retired, UK, 2013</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004099
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>Expenditure by specified gross income band, for households comprising 2 adults non-retired, UK, 2013.</p>
					</li>
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts">Expenditure by gross income band, for households comprising 2 adults non-retired, UK, 2013</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004099
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>Expenditure by specified gross income band, for households comprising 2 adults non-retired, UK, 2013.</p>
					</li>
					
					<li>
						<h3 class="flush"><a href="/economy/nationalaccounts">Expenditure by gross income band, for households comprising 2 adults non-retired, UK, 2013</a></h3>
						<div class="grid-wrap">
							<p class="mini description flush grid-col desktop-grid-one-third">
								Released 21 March 2015
							</p>
							<!-- /desktop-grid-one-quarter -->
							<p class="mini description flush grid-col desktop-grid-one-third">
								Ref: 004099
							</p>
							<!-- /desktop-grid -->
						</div>
						<!-- grid-wrap -->
						<p>Expenditure by specified gross income band, for households comprising 2 adults non-retired, UK, 2013.</p>
					</li>
					
				</ul>
				<div class="panel panel--separated--top">
					<ul class="nav">
						<li>
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">2</a>
						</li>
						<li>
							<a href="#">Next &gt;</a>
						</li>
					</ul>
				</div>
				<!-- /panel--seperated--top 'pagination' -->
			</div>
			<!-- /desktop-grid-two-thirds -->
			
		</div>
		<!-- /grid-wrap -->
	</div>
	<!-- /wrapper -->
</main>
<footer class="global-footer">
	<h2 class="visuallyhidden">Footer links</h2>
	<div class="slate--light panel--pad-large panel--separated">
	<div class="wrapper">
	  <nav class="grid-wrap">
	    <div class="grid-col tablet-grid-one-third">
	      <h3 class="delta headline-separated">Legal</h3>
	      <ul class="list--neutral list--grid list--spaced">
	        <li>
	          <a href="#">Business Transparency</a>
	        </li>
	        <li>
	          <a href="#">Terms and Conditions</a>
	        </li>
	        <li>
	          <a href="#">Copyright</a>
	        </li>
	        <li>
	          <a href="#">Cookies and Privacy</a>
	        </li>
	      </ul>
	    </div>

	    <div class="grid-col tablet-grid-one-third">
	      <h3 class="delta headline-separated">About ONS</h3>
	      <ul class="list--neutral list--grid list--spaced">
	        <li>
	          <a href="#">Who we are</a>
	        </li>
	        <li>
	          <a href="#">Careers</a>
	        </li>
	        <li>
	          <a href="#">Products and Services</a>
	        </li>
	        <li>
	          <a href="#">Contact us</a>
	        </li>
	        <li>
	          <a href="#">Our offices</a>
	        </li>
	      </ul>
	    </div>

	    <div class="grid-col tablet-grid-one-third">
	      <h3 class="delta headline-separated">Connect with us</h3>
	      <ul class="list--neutral list--grid list--spaced">
	        <li>
	          <a href="#">Facebook</a>
	        </li>
	        <li>
	          <a href="#">Twitter</a>
	        </li>
	        <li>
	          <a href="#">YouTube</a>
	        </li>
	        <li>
	          <a href="#">Email subscriptions</a>
	        </li>
	      </ul>
	    </div>
	  </nav>
	</div>
	<!-- /wrapper -->
	</div>
	<!-- /slate -->
	<div class="slate--mid-grey">
	<div class="wrapper">
	  <div class="footer__license">
	    <img class="footer__license__img" alt="OGL" width="60" src="/node_modules/ONS-Pattern-Library/ui/img/ogl.png">
	    <p class="footer__license__body">
	      All content is available under the Open Government Licence v2.0, except where otherwise stated
	    </p>
	  </div>
	</div>
	</div>
</footer>

<script type="text/javascript" src="../../ui/js/lib/highcharts.js"></script>
<script type="text/javascript" src="../../ui/js/lib/jquery.tooltipster.min.js"></script>
<script type="text/javascript" src="../../node_modules/ONS-Pattern-Library/dist/js/footer.js"></script>
<script type="text/javascript" src="../../js/js-enhance.js"></script>
</body>
</html>

