/* ======================================================
   Print styles (via H5BP)
   Inlined to avoid required HTTP connection: h5bp.com/r
   ======================================================*/

@page {
  margin: .5cm;
}


@media print {

  * {
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  article,
  .print-links {

    /* Append 'https://www.ons.gov.uk/' to internal links using a relative path */
    a[href]:after {
      content: " (https://www.ons.gov.uk" attr(href) ")";
      word-wrap: break-word;
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    
    /* Stop links starting with https or http being appended with ons url */
    a[href^="https://"]:after,
    a[href^="http://"]:after {
      content: " (" attr(href) ")";
      word-wrap: break-word;
    }
    abbr[title^="https://"]:after,
    abbr[title^="http://"]:after {
      content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, javascript, internal links or email addresses
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after,
    a[href^="mailto:"]:after {
      content: "";
    } 
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img,
  .box {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .accordion__content {
    display: block !important;
  }

}
