/* ------------------------------
 * Skiplinks
 */

/* Updated to stop prototype banner covering link on tab */

.skiplinks {

  &:focus {
    position: relative !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 700;
    display: block;
    text-decoration: none;
    border: 0;
    outline: none;
    padding: 8px 0;
    font-size: 14px;
    color: #0054aa;
    
  }

}

///* ORIGINAL SCSS - Possible revert to this after prototype banner is removed */

// .skiplinks {

//   &:focus {
//     position: absolute !important;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 700;
//     display: block;
//     text-decoration: none;
//     border: 0;
//     outline: none;

//     span {
//       display: block;
//       width: 30%;
//       padding: 8px 0;
//       margin: 0 auto;
//       text-align: center;
//     }

//   }

// }
