{% block content %}
<!---
title: Basic starter
external: true
type: template
group: Examples
usage: |
  This is a simple starter example which shows how to include the Javascript and CSS, the IE conditional comments and the skiplinks feature.
-->
<div class="wrapper panel--mar">
  <h1>Hello world!</h1>
</div>
{% endblock %}

