{% layout "full-page" %}
{% block page_title %}T1 Homepage Template{% endblock %}
{% block custom_head %}

<!---
title: Homepage Template (T1)
external: true
type: template
group: Templates
markup: false
-->
{% endblock %}
{% block content %}

  <section class="hero-banner hero-banner--xl panel--pad panel--mar-bottom slate--hero-banner">
    <div class="wrapper">
      <div class="hero-banner__inner">
        <p class="hero-banner__headline">Latest release</p>
        <h1 class="hero-banner__main-title">CPI Annual Rate Percentage Change over 12 months</h1>
        <div class="hero-banner__stat stat stat--hero">
          <div class="stat__figure">
            126.9
            <span class="stat__figure__unit">%</span>
          </div>
          <p class="stat__description">
            <span class="lozenge--fat lozenge--semi-opaque">Jan 2014
              <span class="icon icon--green icon--fat icon-up-bold"></span>
              0.7%
            </span>
          </p>
        </div>
        <a href="#">View the statistical bulletin</a>
      </div>
    </div>
  </section>

  <div class="wrapper panel--mar nav-panels">
    <div class="grid-wrap">
      <div class="grid-col tablet-wide-grid-one-half">
        <article class="nav-panel nav-panel--stats sectioned lifted">
          <header class="nav-panel__header nav-panel__roomy">
            <h2 class="flush">Business, Industry, and Trade</h2>
          </header>

          <div class="nav-panel__roomy">
            <ul class="list--neutral">
              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      Value added of Non-Financial Business Economy
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        £936.3
                        <span class="stat__figure__unit">bn</span>
                      </div>
                      <div class="stat__description">
                        1st Quarter 2014
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>

              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      UK Gross Expenditure on Research and Development
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        £27
                        <span class="stat__figure__unit">bn</span>
                      </div>
                      <div class="stat__description">
                        2012
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>

          <footer class="nav-panel__footer">
            <div class="nav-panel__action">
              <a class="nav-panel__roomy" href="#">View all Business, Industry, and Trade</a>
            </div>
          </footer>
        </article><!-- /nav-panel -->
      </div><!-- /grid-col -->

      <div class="grid-col tablet-wide-grid-one-half">
        <article class="nav-panel nav-panel--stats sectioned lifted">
          <header class="nav-panel__header nav-panel__roomy">
            <h2 class="flush">Economy</h2>
          </header>

          <div class="nav-panel__roomy">
            <ul class="list--neutral">
              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      Gross Domestic Product
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        £936.3
                        <span class="stat__figure__unit">bn</span>
                      </div>
                      <div class="stat__description">
                        1st Quarter 2014
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>

              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      CPI Annual Rate Percentage Change over 12 months
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        £27
                        <span class="stat__figure__unit">bn</span>
                      </div>
                      <div class="stat__description">
                        January 2014
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>

          <footer class="nav-panel__footer">
            <div class="nav-panel__action">
              <a class="nav-panel__roomy" href="#">View all Economy</a>
            </div>
          </footer>
        </article><!-- /nav-panel -->
      </div><!-- /grid-col -->
    </div><!-- /grid-wrap -->

    <div class="grid-wrap">
      <div class="grid-col tablet-wide-grid-one-half">
        <article class="nav-panel nav-panel--stats sectioned lifted">
          <header class="nav-panel__header nav-panel__roomy">
            <h2 class="flush">Employment and Labour Market</h2>
          </header>

          <div class="nav-panel__roomy">
            <ul class="list--neutral">
              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      Employment Rate
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        72.9
                        <span class="stat__figure__unit">%</span>
                      </div>
                      <div class="stat__description">
                        Feb — Apr 2014
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>

              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      Unemployment Rate
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        6.6
                        <span class="stat__figure__unit">%</span>
                      </div>
                      <div class="stat__description">
                        Feb — Apr 2014
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>

          <footer class="nav-panel__footer">
            <div class="nav-panel__action">
              <a class="nav-panel__roomy" href="#">View all Employment and Labour Market</a>
            </div>
          </footer>
        </article><!-- /nav-panel -->
      </div><!-- /grid-col -->

      <div class="grid-col tablet-wide-grid-one-half">
        <article class="nav-panel nav-panel--stats sectioned lifted">
          <header class="nav-panel__header nav-panel__roomy">
            <h2 class="flush">People, Population, and Community</h2>
          </header>

          <div class="nav-panel__roomy">
            <ul class="list--neutral">
              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      Total population (UK)
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        64.1
                        <span class="stat__figure__unit">m</span>
                      </div>
                      <div class="stat__description">
                        Mid-2013 estimate
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>

              <li class="nav-panel__item">
                <dl>
                  <dt class="nav-panel__title">
                    <a href="#">
                      Net Migration (UK)
                    </a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </dt>
                  <dd class="nav-panel__value">
                    <div class="stat stat--small">
                      <div class="stat__figure">
                        212,000
                      </div>
                      <div class="stat__description">
                        Year ending Dec 2014
                      </div>
                    </div>
                  </dd>
                </dl>
              </li>
            </ul>
          </div>

          <footer class="nav-panel__footer">
            <div class="nav-panel__action">
              <a class="nav-panel__roomy" href="#">View all People, Population, and Community</a>
            </div>
          </footer>
        </article><!-- /nav-panel -->
      </div><!-- /grid-col -->
    </div><!-- /grid-wrap -->
  </div><!-- /wrapper -->

  <div class="wrapper panel--bottom-mar">
    <div class="next-releases tab-pane tab-pane--dual lifted">
      <ul class="list--neutral nav--block--spaced">
        <li>
          <a href="#published" class="tab-pane__tab">
            <h2 class="tab-pane__tab__header">Published <br class="tab-pane__tab__break">Releases</h2>
          </a>
        </li>
        <li>
          <a href="#upcoming" class="tab-pane__tab">
            <h2 class="tab-pane__tab__header">Upcoming <br class="tab-pane__tab__break">Releases</h2>
          </a>
        </li>
      </ul>
      <section id="published">
        <ol class="list--table list--table--cushy table--striped-light list--table--releases">
          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-25">
                  <span class="date--stacked__date">25</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Apr</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>

            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">Retail Sales - March 2014</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>
          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-25">
                  <span class="date--stacked__date">25</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Apr</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>

            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">Index of Private Housing Rental Prices - January to March 2014 results</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>

          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-29">
                  <span class="date--stacked__date">29</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Apr</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>

            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">Index of Services - February 2014</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>

          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-30">
                  <span class="date--stacked__date">30</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Apr</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>

            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">Gross Domestic Product: Preliminary Estimate - Q1 2014</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>

          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-30">
                  <span class="date--stacked__date">30</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Apr</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>

            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">GDP and the Labour Market - Q1 2014, April GDP update</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>

          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-30">
                  <span class="date--stacked__date">30</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Apr</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>


            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">National Accounts Sector Classification - Classification update, April 2014</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>
        </ol>
        <div class="list--table__item list--table__footer list--table--footer--releases">
          <div class="list--table__item__body">
            <a href="#" class="link-muted">View all scheduled releases</a>
          </div>
        </div>
      </section>

      <section id="upcoming">
        <ol class="list--table list--table--cushy table--striped-light list--table--releases">
          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-29">
                  <span class="date--stacked__date">5</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Jul</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>

            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">Reaaaaally long title. National Accounts Sector Classification - Classification update, July 2014. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ullam, possimus ratione optio dolores, est architecto ad rem saepe incidunt deleniti tempora labore excepturi culpa quae praesentium! Architecto, assumenda, dicta.</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>
          <li class="list--table__item list--table__body">
            <div class="list--table__item__body list--table__item__body--date">
              <div class="list--table__item__body__inner">
                <time class="date date--stacked" datetime="2014-04-29">
                  <span class="date--stacked__date">27</span>
                  <span class="date--stacked__month date--stacked__month--shorthand">Aug</span>
                  <span class="date--stacked__year">2014</span>
                </time>
              </div>
            </div>

            <div class="list--table__item__body list--table__item__body--release-caption">
              <div class="list--table__item__body__inner list--table__item__body__split">
                <div class="list--table__item__body__three-fifths">
                  <h3 class="delta flush--half--bottom headline-spacious">
                    <a href="#">Short.</a>
                    <span tabindex="0" title="Lorem ipsum dolor sit amet" class="tooltip icon-info-circled icon--warm icon--inline icon--left-margin"></span>
                  </h3>
                </div>
                <div class="list--table__item__body__two-fifths">
                  <dl class="list--definition flush micro">
                    <dt>Categories:</dt>
                    <dd>Inflation and Price Indices,</dd>
                    <dd>Indices Inflations Price And,</dd>
                    <dd>Random Category Name,</dd>
                    <dd>Inflation and Price Indices</dd>
                  </dl>
                </div>
              </div>
            </div>
          </li>
        </ol>
        <div class="list--table__item list--table__footer list--table--footer--releases">
          <div class="list--table__item__body">
            <a href="#" class="link-muted">View all scheduled releases</a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="wrapper panel--top-pad panel--bottom-mar">
    <div class="grid-wrap">
      <div class="grid-col desktop-grid-one-third  tablet-grid-one-half">
        <article class="box box--orange box--orange--separated-left lifted">
          <div class="box__inner border box--padded">
            <div class="media">
              <img class="media__img" src="/ui/img/census.png" width="80" alt=" ">
              <div class="media__body">
                <header class="box__header">
                  <h2 class="gamma">
                    <a href="#">
                      2011 Census. There's data about stuff here
                    </a>
                  </h2>
                </header><!-- /box__header -->

                <div class="box__content">
                  <p>
                    Census data and information for England and Wales
                  </p>
                </div><!-- /box__content -->
              </div>
            </div><!-- /media -->
          </div><!-- /box__inner -->
        </article><!-- /box -->
      </div><!-- /grid-col -->

      <div class="grid-col desktop-grid-one-third  tablet-grid-one-half">
        <article class="box box--orange box--orange--separated-left lifted">
          <div class="box__inner border box--padded">
            <header class="box__header">
              <h2 class="gamma">
                <a href="#">
                  Who we are
                </a>
              </h2>
            </header><!-- /box__header -->

            <div class="box__content">
              <p>
                More on the ONS, the UK's largest independent producer of official statistics
              </p>
            </div><!-- /box__content -->
          </div><!-- /box__inner -->
        </article><!-- /box -->
      </div><!-- /grid-col -->

      <div class="grid-col desktop-grid-one-third  tablet-grid-one-half tablet-grid-clear">
        <article class="box box--orange lifted box--orange--separated-left">
          <div class="box__inner border box--padded">
            <header class="box__header">
              <h2 class="gamma">
                <a href="#">
                  Sign up for email alerts
                </a>
              </h2>
            </header><!-- /box__header -->

            <div class="box__content">
              <p>
                Keep abreast of the latest statistical bulletins and releases from the ONS
              </p>
            </div><!-- /box__content -->
          </div>
        </article><!-- /box -->
      </div>
    </div>
  </div>

  <div class="wrapper">
    <div class="panel--top-pad panel--bottom-mar-large panel--separated--top--large">
      <div class="grid-wrap">
        <div class="grid-col desktop-grid-one-third">
          <h2 class="beta">More on ons.gov.uk</h2>
        </div>
        <div class="grid-col desktop-grid-two-thirds">
          <div class="grid-wrap">
            <div class="grid-col tablet-grid-one-half">
              <ul class="list--neutral list--spaced list--heavy flush--top">
                <li><a href="#">Our methodology. This is going to be a bit long-winded</a></li>
                <li><a href="#">Regional data</a></li>
                <li><a href="#">Neighbourhood statistics</a></li>
                <li><a href="#">The ONS blog</a></li>
                <li><a href="#">European statistics</a></li>
                <li><a href="#">UK Statistics Authority</a></li>
              </ul>
            </div>
            <div class="grid-col tablet-grid-one-half">
              <p>
                <a href="#">
                  <img src="/ui/img/interactive.jpg" alt="A a world map overlaid with various data mapped to countries.">
                </a>
              </p>
              <p>
                Check out our <a href="#">interactive content</a> and see our data in a new light
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block custom_scripts %}
{% endblock %}
