{% layout "full-page" %}
{% block page_title %}T4.2 Expert Analysis{% endblock %}
{% block custom_head %}
{% endblock %}
{% block content %}
<!---
title: Expert Analysis  Page (T4-2)
external: true
type: template
group: Templates
markup: false
-->

<article>
  <div class="page-header page-header--article page-header--expert-analysis slate--light">
    <div class="wrapper wrapper--article">
      <p class="page-header__title page-header--expert-analysis-desc">Expert analysis:</p>
      <h1 class="alpha flush--third--bottom">Dependent Children Usually Resident in England and Wales with a Parental Second Address, 2011</h1>

      <div class="page-header--article__body">

        <div class="page-header--article__split">
          <dl class="split--fixed page-header--article__split__meta">
            <dt class="split--fixed__title definition-emphasis">Release date: </dt>
            <dd><span class="definition-emphasis">19 February 2014</span> <a href="#" class="split__multiline-break">View previous versions</a></dd>

            <dt class="split--fixed__title">Authors: </dt>
            <dd>Andrew Banks, Ciaren Taylor, &amp; Phillip Wales</dd>

            <dt class="split--fixed__title">Contact: </dt>
            <dd><a href="#">Phillip Wales</a></dd>

            <dt class="split--fixed__title">Read time:</dt>
            <dd>10 minutes</dd>
          </dl>

          <ul class="list--neutral page-header--article__split__actions">
            <li>
              <a href="#" class="link-complex">
                <span class="icon-print" role="presentation"></span>
                <span class="link-complex__target">Print summary</span>
              </a>
              <span class="description">(1 page)</span>
            </li>
            <li>
              <a href="#" class="link-complex">
                <span class="icon-print" role="presentation"></span>
                <span class="link-complex__target">Print full report</span>
              </a>
              <span class="description">(16 pages)</span>
            </li>
            <li>
              <a href="#" class="link-complex">
                <span class="icon-download" role="presentation"></span>
                <span class="link-complex__target">Download PDF</span>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- /page-header-article__body -->

      <div class="page-header__icons">
        <a href="#" class="link-complex">
          <span class="icon icon-twitter icon--grey">
            <span class="visuallyhidden">Share on Twitter</span>
          </span>
        </a>
        <a href="#" class="link-complex">
          <span class="icon icon-facebook icon--grey">
            <span class="visuallyhidden">Share on Facebook</span>
          </span>
        </a>
        <a href="#" class="link-complex">
          <span class="icon icon-gplus icon--grey">
            <span class="visuallyhidden">Share on Google Plus</span>
          </span>
        </a>
      </div>
    </div><!-- /wrapper -->
  </div><!-- /page-header -->

  <section class="wrapper panel--mar panel--top-pad-small">
    <h2 class="delta">Abstract</h2>
    <p class="lede">Dependent children who shared their time between two different parental addresses were analysed for the usually resident population in England and Wales using 2011 Census data. Analysis includes the age and sex profiles of these children in 2011, as well as their geographical distribution and location of their usual residence and parental second address.</p>
  </section>

  <div class="wrapper panel--mar panel--pad panel--separated">
    <nav role="navigation" class="table-of-contents grid-wrap">
      <div class="grid-col">
        <h2 class="delta">Table of contents</h2>
      </div>

      <div class="grid-col tablet-grid-one-third">
        <a href="#">Summary</a>
        <a href="#">Key Findings</a>
      </div>

      <div class="grid-col tablet-grid-one-third">
        <a href="#">Preliminary GDP Estimate</a>
        <a href="#">Inflation</a>
      </div>

      <div class="grid-col tablet-grid-one-third">
        <a href="#">International inflation, the exchange rate, and producer prices</a>
        <a href="#">Labour market</a>
      </div>
    </nav>
  </div>
  <div class="wrapper">
    <div class="panel--top-pad">
      <div class="grid-wrap">
        <div class="grid-col tablet-wide-grid-one-third tablet-wide-grid-push-two-thirds">
          <div class="box box--padded lifted sectioned">
            <h2 class="body-type--heavy gamma">Data in this bulletin</h2>
            <ul class="list--neutral">
              <li><a href="#">Producer Price Index dataset</a></li>
              <li><a href="#">Gross Domestic Product dataset</a></li>
            </ul>

            <a class="btn btn--primary btn--small " href="#">Download all data <span class="icon icon-download icon--button-inline"></span></a>
          </div> <!-- /box -->
        </div>
        <div class="grid-col tablet-wide-grid-two-thirds tablet-wide-grid-pull-one-third">
          <section class="panel--bottom-pad">
            <h2>1. Summary</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nobis quam culpa, non eum sunt aspernatur enim provident ratione, debitis ex sapiente eligendi excepturi labore sint, expedita quas quae praesentium.</p>
            <p>Delectus praesentium, et mollitia, dolor sed, neque, repudiandae ad tenetur quaerat assumenda labore adipisci perferendis veritatis commodi repellendus ea ratione! Quod facilis aliquid esse, in! Officia beatae voluptate fugit tenetur?</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam fugit debitis inventore quidem tempore iste sed labore. Ratione vitae dignissimos reiciendis, deleniti id facere vero ipsum facilis architecto, quia laboriosam.</li>
              <li>Distinctio aliquam esse quam enim nam deleniti voluptatum sint id eum tempore rerum, voluptate, illum beatae non odio quidem voluptas dolorem asperiores aliquid iusto architecto incidunt! Quisquam, molestias animi blanditiis.</li>
              <li>Voluptate illo amet dolor soluta voluptates voluptatibus ab eum consectetur ipsa adipisci, reprehenderit quisquam modi non autem, beatae alias laborum, eligendi maiores expedita. Voluptate cumque a commodi nisi totam. Placeat!</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste labore ipsa tempore cupiditate saepe alias dolores odit quos, repellendus asperiores officia, cumque, rerum debitis enim assumenda incidunt delectus sequi, ex.</p>
          </section>

          <section class="panel--bottom-mar-large">
            <h2>Key findings</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, aliquam soluta accusamus dolorum, repellat sequi minima. Nostrum voluptatum qui delectus fugiat vitae ab sed iure necessitatibus dolore, deserunt reprehenderit voluptates.</p>
            <p>Necessitatibus fugiat qui illum incidunt, cum doloribus natus, amet alias consequuntur quia aperiam voluptatum odit, nostrum magnam neque. Nesciunt est hic velit ad commodi ut cumque eum dolorem, perferendis vitae.</p>
            <p>Nisi repellendus aspernatur similique enim deserunt quas explicabo expedita cum at quos numquam optio, quis impedit fugiat porro accusamus nesciunt quia, in maxime ab, atque quisquam saepe. Dolorum, soluta, similique.</p>
            <p>Cumque, pariatur nisi earum sunt commodi doloribus id adipisci dicta debitis autem ducimus culpa. Repellat quaerat eos, accusamus quo omnis nobis, voluptatibus tempore saepe ad sed, quam doloribus modi ratione.</p>
            <p>Natus dolor debitis, deleniti sunt animi recusandae harum quis, eos dicta ratione in soluta sit quas esse temporibus eligendi adipisci incidunt tempora numquam impedit repudiandae, ullam delectus. Fugiat, ab, delectus.</p>

            <div class="box box--callout">
              <div class="box__content">
                <h3 class="delta flush--half--bottom">This is an explanation box</h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
              </div>
            </div>

            <p>Est assumenda, nisi velit. Adipisci eius ad doloremque repellat, recusandae at magni deleniti perferendis eum nesciunt incidunt amet optio porro atque sapiente sequi quaerat illum sint explicabo hic voluptates dolorem!</p>
            <p>Fuga adipisci harum facilis est, veritatis, eum dolor soluta unde, dolore, dolorem quam provident impedit quae. Nesciunt placeat, rem est sint nostrum quasi aliquid quod, exercitationem totam velit explicabo deleniti.</p>
            <p>Dolores facilis molestias voluptatem quae, est atque doloremque recusandae fuga inventore, tenetur labore perferendis sint excepturi cum amet explicabo, esse minus eos soluta magni saepe minima mollitia, debitis aliquid. Reprehenderit?</p>

            <figure class="content-image content-image--separated">
              <figcaption>
                <h3 class="content-image__title">Title of equation</h3>
              </figcaption>
              <img class="content-image__image" src="/ui/img/equation.png" alt="">
            </figure>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas quo tempore molestiae repellendus dicta, ducimus veniam tempora aspernatur nobis earum illo. Eius, vero dolor accusantium ea labore amet iure tenetur.</p>
            <p>Amet dignissimos eveniet hic, officiis dicta officia distinctio perspiciatis ad sunt magnam repellendus eaque. Fugiat, at, consectetur! Non, minima minus totam aperiam nobis eveniet nemo amet vero commodi et, ducimus.</p>

            <div class="panel">
              <img src="//placehold.it/650x650&amp;text=Content+image+here" alt="" />
            </div>

            <p>Lorem ipsum dolor sit amet, consecteturee adipisicing elit. Sapiente error ex est pariatur officiis dolore doloremque modi culpa facilis mollitia, dignissimos non iste, alias eum repellendus, omnis eveniet beatae voluptatem.</p>
          </section>
        </div><!-- /grid-col -->
        <div class="grid-col tablet-wide-grid-two-thirds">
          <div class="accordion is-expanded">
            <h2 id="sc-1" class="accordion__title delta" aria-controls="content-1">References</h2>
            <div id="content-1" class="accordion__content" aria-labelledby="sc-1">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea animi, soluta vitae ratione ab optio hic numquam fugiat harum culpa cum dolore voluptatibus et voluptas autem est laborum minima, libero!</p>
              <p>Vitae officiis accusamus quas? Natus reiciendis dolor dolore delectus, magnam maiores necessitatibus facere, iste dolores cum laboriosam animi facilis id consectetur laudantium at perspiciatis, eos. Non possimus distinctio, quaerat beatae.</p>
            </div>
          </div>

          <div class="accordion is-collapsed">
            <h2 id="sc-2" class="accordion__title delta" aria-controls="content-2">Footnotes</h2>
            <div id="content-2" class="accordion__content" aria-labelledby="sc-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea animi, soluta vitae ratione ab optio hic numquam fugiat harum culpa cum dolore voluptatibus et voluptas autem est laborum minima, libero!</p>
              <p>Vitae officiis accusamus quas? Natus reiciendis dolor dolore delectus, magnam maiores necessitatibus facere, iste dolores cum laboriosam animi facilis id consectetur laudantium at perspiciatis, eos. Non possimus distinctio, quaerat beatae.</p>
            </div>
          </div>

          <div class="accordion is-collapsed">
            <h2 id="sc-3" class="accordion__title delta" aria-controls="content-3">Background Notes and Methodology</h2>
            <div id="content-3" class="accordion__content" aria-labelledby="sc-3">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus velit quod nulla sapiente, tempore dolorem iste voluptatibus consequuntur distinctio qui et neque quo, nostrum eligendi quam vero mollitia. Animi, quia?</p>
            </div>
          </div>
        </div>

        <div class="grid-col tablet-wide-grid-one-third">
          <div class="box box--padded lifted sectioned" id="contact-box">
            <span class="icon icon--mega icon--grey icon--flush icon-info-circled"></span>
            <h2 class="body-type--heavy gamma">Contact Details for this report</h2>
            <div class="vcard">
               <div class="name">Philip Wales</div>
               <div class="organisation">Business Prices</div>
               <div class="email"><a href="mailto:PhilipWales@ons.gsi.gov.uk">PhilipWales@ons.gsi.gov.uk</a></div>
               <div class="tel">Telephone: +44 (0)1633 456468</div>
            </div>

            <footer class="box__footer box__footer--right">
              <a class="link-complex mini" href="#">
                <span class="link-complex__target box__action__text">View all contacts</span>
                <span class="icon-book" role="presentation"></span>
              </a>
            </footer>
          </div> <!-- /box -->
        </div>
      </div><!-- /grid-wrap -->
    </div><!-- /panel -->
  </div><!-- /wrapper -->

  <div class="slate panel--pad panel--top-mar">
    <div class="wrapper">
      <div class="grid-wrap">
        <div class="grid-col tablet-wide-grid-two-thirds">
          <div class="max-read-length">
            <h2 class="delta">Related bulletins</h2>
            <h3 class="flush gamma body-type--heavy">
              <a href="#">
                Labour Market Statistics, January 2014
              </a>
            </h3>
            <p>
              A first estimate of retail sales in volume and value terms, seasonally and non-seasonally adjusted
            </p>
            <h3 class="flush gamma body-type--heavy">
              <a href="#">
                Labour Market Statistics, January 2014
              </a>
            </h3>
            <p>
              A first estimate of retail sales in volume and value terms, seasonally and non-seasonally adjusted
            </p>
            <h3 class="flush gamma body-type--heavy">
              <a href="#">
                Labour Market Statistics, January 2014
              </a>
            </h3>
            <p>
              A first estimate of retail sales in volume and value terms, seasonally and non-seasonally adjusted
            </p>
          </div>
        </div> <!-- /grid-col -->

        <div class="grid-col tablet-wide-grid-one-third">
          <article class="box solid box--blue--separated--left">
            <div class="box__inner border box--padded">
              <h2 class="visuallyhidden">More related items</h2>
              <div class="box__section">
                <h3 class="box__section__header">More on <a href="#">Inflation</a></h3>
                <p>See lorem ipsum dolor sit amet sadipscing consectrue</p>
              </div>
              <div class="box__section">
                <h3 class="box__section__header">More on <a href="#">Deflation</a>.</h3>
                <p>See lorem ipsum dolor sit amet sadipscing consectrue</p>
              </div>
            </div><!-- /box__inner -->
          </article><!-- /box -->
        </div><!-- /grid-col -->
      </div><!-- /grid-wrap -->
    </div><!-- /wrapper -->
  </div><!-- /slate.panel  -->
</article>


{% endblock %}
{% block custom_scripts %}
{% endblock %}
