@charset "UTF-8";

/*
============================
  Icons and temporary classes for their display
============================
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  width: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-right: .2em;
  margin-left: .2em;
  font-family: "fontello";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;

  line-height: 1em;
  text-align: center;
  text-decoration: none;

  text-transform: none;

  speak: none;
}

.icon-info-circled:before { content: '\e800'; display: none !important;}

.icon-record:before { content: '\e801'; display: none !important;}

.icon-facebook:before { content: '\e802'; display: none !important;}

.icon-twitter:before { content: '\e803'; display: none !important;}

.icon-phone:before { content: '\e804'; display: none !important;}

.icon-mail:before { content: '\e805'; display: none !important;}

.icon-gplus:before { content: '\e806'; display: none !important;}

.icon-search:before { content: '\e807'; display: none !important;}

.icon-download:before { content: '\e808'; display: none !important;}

.icon-print:before { content: '\e809'; display: none !important;}

.icon-left-open-big:before { content: '\e80a'; display: none !important;}

.icon-down-open-big:before { content: '\e80b'; display: none !important;}

.icon-right-open-big:before { content: '\e80c'; display: none !important;}

.icon-up-open-big:before { content: '\e80d'; display: none !important;}

.icon-cog:before { content: '\e80e'; display: none !important;}

.icon-check:before { content: '\e80f'; display: none !important;}

/*.icon-search-1:before { content: '\e810'; display: none !important;}*/
.icon-search-1 { 
  background: transparent url(../img/search-icon.png) no-repeat 4px 8px;
  display: block;
  width: 28px;
  height: 38px;
  background-size: 20px auto;
}

.icon-popup:before { content: '\e811'; display: none !important;}

.icon-up-bold:before { content: '\e812'; display: none !important;}

.icon-down-bold:before { content: '\e813'; display: none !important;}

.icon-users:before { content: '\e814'; display: none !important;}

.icon-book:before { content: '\e815'; display: none !important;}

.icon-chart:before { content: '\e816'; display: none !important;}

.icon-table:before { content: '\e817'; display: none !important;}

.icon-down-open-mini:before { content: '\e818'; display: none !important;}

.icon-menu:before { content: '\e819'; display: none !important;}

.icon-cancel:before { content: '\e81a'; display: none !important;}

.icon-comment:before { content: '\e81b'; display: none !important;}

.icon-linkedin:before { content: '\e815'; display: none !important;}

.icon-rss:before { content: '\e81d'; display: none !important;}

//.icon-link-ext:before { content: '\e81e'; } //Breaks on gov networks that block font packs
.icon-link-ext:after {
  background-image: url('../img/external.png');
  background-size: 12px 12px;
  height: 12px;
  width: 12px;
  display: inline-block;
  content: "";
  margin-left: 5px;
}

/*------------------------------
  Temporary wrapping classes

*/

.icon__list { // temporary display wrapper to lose the
  padding-left: 0;

  .icon__item {
    padding: 1.5rem 0;
    list-style-type: none;
  }

  .icon {

    &:before {
      padding-right: 2rem;
      font-size: 160%;
    }
  }
}

.icon--inline {
  font-size: inherit;

  &:before {
    width: auto;
    vertical-align: middle;
  }
}

.icon--button-inline,
.icon--button-inline-small,
.icon--button-inline--rev,
.icon--button-inline--rev-small {
  line-height: 1;

  &:before {
    width: auto;
    font-size: 125%;
    vertical-align: middle;
  }
}

.icon--button-inline {
  margin-left: 1rem;
}

.icon--button-inline-small {
  margin-right: .5rem;
}

.icon--button-inline--rev {
  margin-right: 1rem;
}

.icon--button-inline--rev-small {
  margin-right: .5rem;
}

//to compensate for weird vertical alignment when text needs to be bigger than icon
.icon--inline--large-text {
  &:before {
    margin-top: -.4em;
  }
}

.icon--small {
  font-size: 75%;
}

.icon--large {
  font-size: 150%;
}

.icon--mega {
  font-size: 200%;
}

.icon--giga {
  font-size: 300%;
}

.icon--cold {
  color: $azure;
}

.icon--warm {
  color: $orange;

  &:hover {
    color: darken($orange, 10%);
  }
}

.icon--green {
  color: $ons-green;
}

.icon--grey {
  color: $grey-cold;

  &:hover {
    color: darken($grey-cold, 15%);
  }
}

.icon--fat {
  font-family: $font-bold;
}

.icon--flush {
  &:before {
    margin: 0;
  }
}

.icon--right {
  text-align: right;
}

.icon--left {
  text-align: left;
}

.icon--left-margin {
  margin-left: 1rem;
}

.icon--right-margin {
  margin-right: 1rem;
}

//Add external link icon (:not excludes certain domains)
a[href^="http://"]:not([href*="ons.gov.uk"]):not([href^="http://localhost"]):after, a[href^="https://"]:not([href*="carboni.uk"]):not([href*="carb.onl"]):after {
  @extend .icon-link-ext:after
}

//For use in unique situations where icons are automatically added but not wanted and a global solution isn't viable
.hide-icon:after, .hide-icon:before {
  content: "" !important;
  display: none !important;
}
