{% block page_title %}Article Header{% endblock %}

{% block content %}
  <div class="wrapper">
    <h1>Article Header</h1>
  </div>

<div class="panel">
  <div class="page-header page-header--article page-header--stat-bulletin slate--blue">
    <div class="wrapper wrapper--article">
      <p class="page-header__title page-header--stat-bulletin-desc">Statistical bulletin:</p>
      <h1 class="flush--third--bottom">Producer Price Inflation, January 2014</h1>

      <img class="page-header--article__img" src="/ui/img/national-statistics.png" alt="The official National Statistics badge"/>

      <div class="page-header--article__body">

        <div class="page-header--article__split">
          <dl class="split--fixed page-header--article__split__meta">
            <dt class="split--fixed__title definition-emphasis">Release date: </dt>
            <dd><span class="definition-emphasis">19 February 2014</span> <a href="#" class="split__multiline-break">View previous versions</a></dd>

            <dt class="split--fixed__title">Next release: </dt>
            <dd>19 March 2014</dd>

            <dt class="split--fixed__title">Contact: </dt>
            <dd><a href="#">Kate Pegler</a></dd>

            <dt class="split--fixed__title">Read time:</dt>
            <dd>25 minutes</dd>
          </dl>

          <ul class="list--neutral page-header--article__split__actions">
            <li>
              <a href="#" class="link-complex">
                <span class="icon-print" role="presentation"></span>
                <span class="link-complex__target">Print summary</span>
              </a>
              <span class="description">(1 page)</span>
            </li>
            <li>
              <a href="#" class="link-complex">
                <span class="icon-print" role="presentation"></span>
                <span class="link-complex__target">Print full report</span>
              </a>
              <span class="description">(16 pages)</span>
            </li>
            <li>
              <a href="#" class="link-complex">
                <span class="icon-download" role="presentation"></span>
                <span class="link-complex__target">Download PDF</span>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- /page-header-article__body -->

      <div class="page-header__icons">
        <a href="#" class="link-complex">
          <span class="icon icon-twitter icon--grey">
            <span class="visuallyhidden">Share on Twitter</span>
          </span>
        </a>
        <a href="#" class="link-complex">
          <span class="icon icon-facebook icon--grey">
            <span class="visuallyhidden">Share on Facebook</span>
          </span>
        </a>
        <a href="#" class="link-complex">
          <span class="icon icon-gplus icon--grey">
            <span class="visuallyhidden">Share on Google Plus</span>
          </span>
        </a>
      </div>
    </div><!-- /wrapper -->
  </div><!-- /page-header -->
</div>

<div class="panel">
  <div class="page-header page-header--article page-header--expert-analysis slate--light">
    <div class="wrapper wrapper--article">
      <p class="page-header__title page-header--expert-analysis-desc">Expert analysis:</p>
      <h1 class="alpha flush--third--bottom">Dependent Children Usually Resident in England and Wales with a Parental Second Address, 2011</h1>

      <div class="page-header--article__body">

        <div class="page-header--article__split">
          <dl class="split--fixed page-header--article__split__meta">
            <dt class="split--fixed__title definition-emphasis">Release date: </dt>
            <dd><span class="definition-emphasis">19 February 2014</span> <a href="#" class="split__multiline-break">View previous versions</a></dd>

            <dt class="split--fixed__title">Authors: </dt>
            <dd>Andrew Banks, Ciaren Taylor, &amp; Phillip Wales</dd>

            <dt class="split--fixed__title">Contact: </dt>
            <dd><a href="#">Phillip Wales</a></dd>

            <dt class="split--fixed__title">Read time:</dt>
            <dd>10 minutes</dd>
          </dl>

          <ul class="list--neutral page-header--article__split__actions">
            <li>
              <a href="#" class="link-complex">
                <span class="icon-print" role="presentation"></span>
                <span class="link-complex__target">Print summary</span>
              </a>
              <span class="description">(1 page)</span>
            </li>
            <li>
              <a href="#" class="link-complex">
                <span class="icon-print" role="presentation"></span>
                <span class="link-complex__target">Print full report</span>
              </a>
              <span class="description">(16 pages)</span>
            </li>
            <li>
              <a href="#" class="link-complex">
                <span class="icon-download" role="presentation"></span>
                <span class="link-complex__target">Download PDF</span>
              </a>
            </li>
          </ul>
        </div>
      </div><!-- /page-header-article__body -->

      <div class="page-header__icons">
        <a href="#" class="link-complex">
          <span class="icon icon-twitter icon--grey">
            <span class="visuallyhidden">Share on Twitter</span>
          </span>
        </a>
        <a href="#" class="link-complex">
          <span class="icon icon-facebook icon--grey">
            <span class="visuallyhidden">Share on Facebook</span>
          </span>
        </a>
        <a href="#" class="link-complex">
          <span class="icon icon-gplus icon--grey">
            <span class="visuallyhidden">Share on Google Plus</span>
          </span>
        </a>
      </div>
    </div><!-- /wrapper -->
  </div><!-- /page-header -->
</div>

{% endblock %}
{% block custom_scripts %}
{% endblock %}
