{% block custom_head %}
{% endblock %}
{% block content %}
  <!---
  title: Footer
  group: Global
  external: true
  -->
  <footer class="global-footer">
    <h2 class="visuallyhidden">Footer links</h2>
    <div class="slate--light panel--pad-large panel--separated">
      <div class="wrapper">
        <nav class="grid-wrap">
          <div class="grid-col tablet-grid-one-third">
            <h3 class="delta headline-separated">Legal</h3>
            <ul class="list--neutral list--grid list--spaced">
              <li><a href="#">Business Transparency</a></li>
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Copyright</a></li>
              <li><a href="#">Cookies and Privacy</a></li>
            </ul>
          </div>

          <div class="grid-col tablet-grid-one-third">
            <h3 class="delta headline-separated">About ONS</h3>
            <ul class="list--neutral list--grid list--spaced">
              <li><a href="#">Who we are</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Products and Services</a></li>
              <li><a href="#">Contact us</a></li>
              <li><a href="#">Our offices</a></li>
            </ul>
          </div>

          <div class="grid-col tablet-grid-one-third">
            <h3 class="delta headline-separated">Connect with us</h3>
            <ul class="list--neutral list--grid list--spaced">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">YouTube</a></li>
              <li><a href="#">Email subscriptions</a></li>
            </ul>
          </div>
        </nav>
      </div><!-- /wrapper -->
    </div><!-- /slate -->
    <div class="slate--mid-grey">
      <div class="wrapper">
        <div class="footer__license">
          <img class="footer__license__img" alt="OGL" width="60" src="/ui/img/ogl.png">
          <p class="footer__license__body">
            All content is available under the Open Government Licence v2.0, except where otherwise stated
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!--- // -->
{% endblock %}
