{% block page_title %}Tooltips{% endblock %}
{% block custom_head %}
  <style>
  </style>
{% endblock %}
{% block content %}
  <div class="wrapper">
    <h1>Tooltips</h1>

    <ul>
      <li>
        <!---
        title: Tooltips
        group: Misc
        -->
        <a href="#" class="tooltip" title="Iiiiiii'm a tooltip and I'm okay." aria-label="Iiiiiii'm a tooltip and I'm okay.">Text tooltip</a>
        <span tabindex="0" class="icon-info-circled icon--warm icon--giga tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat veritatis sit, atque vero eveniet at temporibus. Aut provident incidunt aspernatur quis quibusdam voluptatum adipisci sequi consequuntur. Aliquid, consequatur, esse. Eum." aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat veritatis sit, atque vero eveniet at temporibus. Aut provident incidunt aspernatur quis quibusdam voluptatum adipisci sequi consequuntur. Aliquid, consequatur, esse. Eum."></span>
        <span tabindex="0" class="icon-info-circled icon--warm tooltip" title="Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut" aria-label="Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut"></span>
        <!--- // -->
    </ul>
  </div>
{% endblock %}
{% block custom_scripts %}
{% endblock %}
