{% block page_title %}Stat call-out{% endblock %}
{% block custom_head %}
  <style>
  </style>
{% endblock %}
{% block content %}
  <div class="wrapper">
    <h1>Stat call-out</h1>

    <div class="panel">
      <!-- title: Callout stat -->
      <div class="callout">
        <h3 class="callout__header">
          <span class="callout__stat-name">The employment rate</span>
          in Great Britain was:
        </h3>
        <div class="callout__stats">
          <div class="callout__stat">
            <b class="callout__stat__figure">
              176.9
              <span class="callout__stat__figure__unit">%</span>
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Highest</b>
              in Wales
            </p>
          </div>

          <div class="callout__stat">
            <b class="callout__stat__figure">
              1
              <span class="callout__stat__figure__unit">%</span>
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Lowest</b>
              in Yorkshire and The Humber
            </p>
          </div>
        </div><!-- /callout__stats -->
      </div><!-- /callout -->

      <div class="callout">
        <h3 class="callout__header">
          <span class="callout__stat-name">The average unemployment length</span>
          in Great Britain was:
        </h3>
        <div class="callout__stats">
          <div class="callout__stat">
            <b class="callout__stat__figure">
              126
              <span class="callout__stat__figure__unit">Yrs</span>
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Highest</b>
              in London
            </p>
          </div>

          <div class="callout__stat">
            <b class="callout__stat__figure">
              1
              <span class="callout__stat__figure__unit">Day</span>
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Lowest</b>
              in Wales
            </p>
          </div>
        </div><!-- /callout__stats -->
      </div><!-- /callout -->

      <div class="callout">
        <h3 class="callout__header">
          <span class="callout__stat-name">The inactivity rate</span>
          in Great Britain was:
        </h3>
        <div class="callout__stats">
          <div class="callout__stat">
            <b class="callout__stat__figure">
              25.7
              <span class="callout__stat__figure__unit">%</span>
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Highest</b>
              in Wales
            </p>
          </div>
        </div><!-- /callout__stats -->
      </div><!-- /callout -->

      <div class="callout">
        <h3 class="callout__header">
          <span class="callout__stat-name">The lorem ipsum dolor sit amet consequteur something or other I am not sure what comes after that</span>
          in foobar quux sine or something or other was:
        </h3>
        <div class="callout__stats">
          <div class="callout__stat">
            <b class="callout__stat__figure">
              678.9
              <span class="callout__stat__figure__unit">%</span>
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Very Much Highest</b>
              in The Democratic People's Republic of Korea
            </p>
          </div>

          <div class="callout__stat">
            <b class="callout__stat__figure">
              -&#8734;
              <span class="callout__stat__figure__unit">%</span>
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Incredibly Totally Lowest</b>
              in the Very Much Undemocratic People's Unrepublic of South Korea
            </p>
          </div>

          <div class="callout__stat">
            <b class="callout__stat__figure">
              0
            </b>
            <p class="callout__stat__description">
              <b class="callout__stat__adjective">Who even cares</b>
              in the rest of the world
            </p>
          </div>
        </div><!-- /callout__stats -->
      </div><!-- /callout -->
    </div>
  </div>
{% endblock %}
{% block custom_scripts %}
{% endblock %}
