{% layout 'bare' %}
{% block page_title %}Index{% endblock %}

{% block custom_head %}
{% endblock %}

{% block content %}

<div class="wrapper">
  <div class="grid-wrap">
    <div class="grid-col">
      <h1>Office of National Statistics: Template index</h1>
      <hr>
    </div><!--/grid-col-->
  </div><!--/grid-wrap-->

  <div class="grid-wrap">
    <div class="grid-col tablet-grid-one-third">
      <h2>Visual language</h2>
      <ul>
        <li><a href="includes/visual-language/colors">Colour</a></li>
        <li><a href="includes/visual-language/forms">Forms</a></li>
        <li><a href="includes/visual-language/grid">Grid</a></li>
        <li><a href="includes/visual-language/tables">Tables</a></li>
        <li><a href="includes/visual-language/type">Typography</a></li>
      </ul>
    </div>

    <div class="grid-col tablet-grid-one-third">
      <h2>Patterns</h2>
      <ul>
        <li><a href="includes/patterns/actionable-header">Actionable header</a></li>
        <li><a href="includes/patterns/boxes">Boxes</a></li>
        <li><a href="includes/patterns/buttons">Buttons</a></li>
        <li><a href="includes/patterns/content-reveal">Content reveal</a></li>
        <li><a href="includes/patterns/content-image">Content image / equation</a></li>
        <li><a href="includes/patterns/dates">Dates</a></li>
        <li><a href="includes/patterns/divider">Divider (layout system)</a></li>
        <li><a href="includes/patterns/link-complex">Complex link</a></li>
        <li><a href="includes/patterns/lists">Lists</a></li>
        <li><a href="includes/patterns/lozenges">Lozenges</a></li>
        <li><a href="includes/patterns/media">Media object</a></li>
        <li><a href="includes/patterns/nav-panels">Nav panels</a></li>
        <li><a href="includes/patterns/navs">Navs</a></li>
        <li><a href="includes/patterns/panels">Panels</a></li>
        <li><a href="includes/patterns/slates">Slates</a></li>
        <li><a href="includes/patterns/stat-callout">Stat call-out</a></li>
        <li><a href="includes/patterns/stats">Stats</a></li>
        <li><a href="includes/patterns/supporting-content">Supporting content</a></li>
        <li><a href="includes/patterns/table-of-contents">Table of contents</a></li>
        <li><a href="includes/patterns/tabs">Tabs</a></li>
      </ul>
    </div>

    <div class="grid-col tablet-grid-one-third">
      <h2>Global</h2>
      <ul>
        <li><a href="includes/visual-language/icons">Icons</a></li>
        <li><a href="includes/components/tooltips">Tooltips</a></li>
      </ul>
    </div>
  </div><!--/grid-wrap-->

  <div class="grid-wrap">
    <div class="grid-col tablet-grid-one-third">
      <h2>Global components</h2>
      <ul>
        <li><a href="includes/components/global-header">Header</a></li>
        <li><a href="includes/components/global-footer">Footer</a></li>
      </ul>
    </div>

    <div class="grid-col tablet-grid-one-third">
      <h2>UI components</h2>
      <ul>
        <li><a href="includes/components/article-header">Article header (derivation of Page)</a></li>
        <li><a href="includes/components/data-search">Data search (box + form elements)</a></li>
        <li><a href="includes/components/footnotes-supporting-content">Footnotes &amp; supporting content</a></li>
        <li><a href="includes/components/hero-banner">Hero banner</a></li>
        <li><a href="includes/components/hero-stat">Hero stat headlines (stat + split + list)</a></li>
        <li><a href="includes/components/homepage-search">Home search (panel + slate + form elements)</a></li>
        <li><a href="includes/components/page-header">Page header (headline + lead paragraph + social sharing)</a></li>
        <li><a href="includes/components/related-content">Related Content</a></li>
        <li><a href="includes/components/upcoming-releases">Upcoming releases (tables + tabs + dates)</a></li>
      </ul>
    </div>

    <div class="grid-col tablet-grid-one-third">
      <h2>Tables &amp; Charts</h2>
      <ul>
        <li><a href="includes/components/chart-controls">Chart controls</a></li>
        <li><a href="includes/components/charts/data-table">Data table</a></li>
        <li><a href="includes/components/charts/time-series-chart">Time series</a></li>
        <li><a href="includes/components/charts/multi-series-chart">Multi series</a></li>
      </ul>
    </div>

  </div><!--/grid-wrap-->
  <div class="grid-wrap">
    <div class="grid-col tablet-grid-one-third">
      <h2>Pages</h2>
      <ul>
        <li><a href="/pages/t1">T1: Homepage</a></li>
        <li><a href="/pages/t3">T3: Inflation and Price Indices</a></li>
        <li><a href="/pages/t4-1">T4: Statistical Bulletin</a></li>
        <li><a href="/pages/t4-2">T4: Expert Analysis</a></li>
        <li><a href="/pages/t5">T5: Time Series</a></li>
      </ul>
    </div>
  </div><!--/grid-wrap-->
</div>

{% endblock %}
