	<ol class="nav nav--heavy breadcrumb breadcrumb_hero mini">
		
		{{#each breadcrumb}}
			<li>
				<a href="{{uri}}">{{title}}</a>
			</li>
		{{/each}}

		<li class="nav__active breadcrumb">
			{{title}}
		</li>
	</ol>
	<!-- /breadcrumb -->
