{% block page_title %} Icons {% endblock %}

{% block custom_head %}

{% endblock %}

{% block content %}

<div class="wrapper">
<h1>Icons</h1>
<!---
title: Icons
group: Graphical elements
devnotes: |
  [Fontello](http://fontello.com/) is used to generate the fonts required for the library.  Included in the code base is the configuration file required by the service to make changes to the font files. Only the icons required should be included so that file size is kept to a minimum.
  `role="presentation"` should be placed on the icon element to ensure that the browser understands that it has no functional relevance.
  Icon classes should only be used on elements that contain no text or child elements.

-->
<ul class="icon__list">
  <li class="icon__item">
    <span class="icon icon-info-circled tooltip" title="hi hello this is a test how are you doing" role="presentation"></span>
    <code>class="icon-info-circled"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-record" role="presentation"></span>
    <code>class="icon-record"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-facebook" role="presentation"></span>
    <code>class="icon-facebook"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-twitter" role="presentation"></span>
    <code>class="icon-twitter"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-phone" role="presentation"></span>
    <code>class="icon-phone"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-mail" role="presentation"></span>
    <code>class="icon-mail"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-gplus" role="presentation"></span>
    <code>class="icon-gplus"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-search" role="presentation"></span>
    <code>class="icon-search"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-download" role="presentation"></span>
    <code>class="icon-download"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-print" role="presentation"></span>
    <code>class="icon-print"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-book" role="presentation"></span>
    <code>class="icon-book"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-down-open-big" role="presentation"></span>
    <code>class="icon-down-open-big"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-up-open-big" role="presentation"></span>
    <code>class="icon-up-open-big"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-left-open-big" role="presentation"></span>
    <code>class="icon-left-open-big"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-right-open-big" role="presentation"></span>
    <code>class="icon-right-open-big"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-down-open-mini" role="presentation"></span>
    <code>class="icon-down-open-mini"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-cog" role="presentation"></span>
    <code>class="icon-cog"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-check" role="presentation"></span>
    <code>class="icon-check"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-search-1" role="presentation"></span>
    <code>class="icon-search-1"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-popup" role="presentation"></span>
    <code>class="icon-popup"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-up-bold" role="presentation"></span>
    <code>class="icon-up-bold"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-down-bold" role="presentation"></span>
    <code>class="icon-down-bold"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-users" role="presentation"></span>
    <code>class="icon-users"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-chart" role="presentation"></span>
    <code>class="icon-chart"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-table" role="presentation"></span>
    <code>class="icon-table"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-menu" role="presentation"></span>
    <code>class="icon-menu"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-cancel" role="presentation"></span>
    <code>class="icon-cancel"</code>
  </li>

  <li class="icon__item">
    <span class="icon icon-comment" role="presentation"></span>
    <code>class="icon-comment"</code>
  </li>
</ul>
</div>

{% endblock %}


{% block custom_scripts %}

<!-- <script src="/ui/js/app/widgets/chart-bar-horizontal.js"></script> -->


{% endblock %}
