%divider-border {
  border-color: mix($grey, $white, 80%);
  border-style: solid;
}

.divider--border-left {
    @extend %divider-border;
    border-width: 0;
}

.divider {
  @extend %cf;
  clear: both;
}

.divider__half {
  @extend %cf;
  padding: 1.5rem 1rem;
}

.divider__quarter {
  @extend %cf;
  padding: 1.5rem 1rem;
}

.divider__half--border-last, .divider__quarter--border-last {
  @extend %divider-border;
  border-width: 1px 0 0;
}

.divider__half--border-first, .divider__quarter--border-first {
  @extend %divider-border;
  border-width: 0 0 1px;
}

@include respond-min($bp-tablet) {
    .divider--border-left {
      border-width: 0 0 0 1px;
    }
}

@include respond-min(47em) {

    // .divider--border-left {
    //   @extend %divider-border;
    //   border-width: 0 0 0 1px;
    // }

  .divider__half {
    float: left;
    width: 50%;
    padding: 0 3rem;
  }

  .divider__quarter {
    float: left;
    width: 25%;
    padding: 0 3rem;
  }

  .divider__half--border-last, .divider__quarter--border-last {
    border-width: 0 0 0 1px;
  }

  .divider__half--border-first, .divider__quarter--border-last {
    border-width: 0 1px 0 0;
  }
}
