@charset "UTF-8";

/*
 * Navigation is a thorny issue, especially with complex IAs. Navigational CSS
 * has thus been split up into two parts: general patterns that can be used
 * for simple navs, and _navs-primary for the primary nav which is complex and
 * not nearly as reusable.
 * This is done for structural clarity and separations of concerns.
 */

.nav {
  @extend %cf;
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
  }
}

.nav--inline-block {
  display: inline-block;

  li {
    display: inline-block;
    margin: 0 1em 0 0;
  }
}

.nav--block {
  a {
    padding: .5em 0;
  }

  li,
  a {
    display: block;
  }
}

.nav--block--spaced {
  a {
    margin: .5em 0;
  }
}

.nav--block-landing {
  &:nth-child(3n+4) {
      clear: left;
  }
}


.nav--block-landing {
  margin-bottom: 20px;
}

// Pure css multi line ellipsis: http://www.mobify.com/blog/multiline-ellipsis-in-pure-css/

@include respond-min($bp-tablet) {
  .nav--block-landing {
    overflow: hidden;
    height: 161px;
  }
  .nav--block-landing > * {
    float: right;
    width: 100%;
    margin-left: -5px;
  }
  .nav--block-landing:before {
    content: "";
    float: left;
    width: 5px;
    height: 161px;
  }
  .nav--block-landing:after {
    content: "\02026";  
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    float: right; position: relative;
    top: -50px; 
    left: 100%; 
    width: 3em; 
    margin-left: -3em;
    padding-right: 5px;
    text-align: right;
    background-size: 100% 100%;
      /* 512x1 image, gradient for IE9. Transparent at 0% -> white at 50% -> white at 100%.*/
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAABCAMAAACfZeZEAAAABGdBTUEAALGPC/xhBQAAAwBQTFRF////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AAAA////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////wDWRdwAAAP90Uk5TgsRjMZXhS30YrvDUP3Emow1YibnM9+ggOZxrBtpRRo94gxItwLOoX/vsHdA2yGgL8+TdKUK8VFufmHSGgAQWJNc9tk+rb5KMCA8aM0iwpWV6dwP9+fXuFerm3yMs0jDOysY8wr5FTldeoWKabgEJ8RATG+IeIdsn2NUqLjQ3OgBDumC3SbRMsVKsValZplydZpZpbJOQco2KdYeEe36BDAL8/vgHBfr2CvTyDu8R7esU6RcZ5ecc4+Af3iLcJSjZ1ivT0S/PMs3LNck4x8U7wz7Bv0G9RLtHuEq1TbJQr1OtVqqnWqRdoqBhnmSbZ5mXapRtcJGOc4t2eYiFfH9AS7qYlgAAARlJREFUKM9jqK9fEGS7VNrDI2+F/nyB1Z4Fa5UKN4TbbeLY7FW0Tatkp3jp7mj7vXzl+4yrDsYoVx+JYz7mXXNSp/a0RN25JMcLPP8umzRcTZW77tNyk63tdprzXdmO+2ZdD9MFe56Y9z3LUG96mcX02n/CW71JH6Qmf8px/cw77ZvVzB+BCj8D5vxhn/vXZh6D4uzf1rN+Cc347j79q/zUL25TPrJMfG/5LvuNZP8rixeZz/mf+vU+Vut+5NL5gPOeb/sd1dZbTs03hBuvmV5JuaRyMfk849nEM7qnEk6IHI8/qn049hB35QGHiv0yZXuMdkXtYC3ebrglcqvYxoj1muvC1nDlrzJYGbpcdHHIMo2FwYv+j3QAAOBSfkZYITwUAAAAAElFTkSuQmCC);
    background: -webkit-gradient(linear, left top, right top,
    from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
  }
}

.nav--block-landing--pairs {
  &:nth-child(2n+3) {
      clear: left;
  }
}

.nav--block-home-highlighted-content {
  width: 100%;
  .box {
    @extend .box--purple--separated--left;
  }

    &:nth-child(3) {

      .box {
        @extend .box--orange--separated--left;
      }
      
    }

    &:nth-child(5) {
      .box {
        @extend .box--green--separated--left;
      }
    }


  @include respond-min($bp-desktop) {
    width: 33.333333333333%;

    &:nth-child(4) {
      width: 50%;
      clear: left;
    }

    &:nth-child(5) {
      width: 50%;
    }
  }
}

.nav--az-side-bar {
  display: inline-block;
  margin-left: -2px;
  margin-right: -2px;

  li {
    float: left;
    width: 50px;
  }

  @include respond-min($bp-desktop) {
      li {
        width: 16.6666667%;
      }
  }
}

.nav--dark {
  a {
    color: $black;
    text-decoration: underline;

    &:hover {
      color: lighten($black, 20%);
    }
  }
}

.nav--heavy {
  font-family: $font-bold;

  a {
    color: $black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.breadcrumb {

  > li + li {
    position: relative;

    &:before {
      display: inline-block;
      padding: 0 1rem;
      font-family: Arial;
      font-size: 150%;
      font-weight: 100;
      line-height: 1;
      color: $grey;
      vertical-align: top;
      content: " \203A ";
    }
  }
}

.breadcrumb_hero {
    margin-top: 0;
}

.nav__active, .nav__active a {
    color: $grey;
    text-decoration: none;
}
