.slate {
  background-color: lighten($grey-light, 6.5%);

  &:after {
    height: 0.5rem;
    margin: 0 auto;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.5rem;
    background-color: transparent;
    
  }
  
  @include respond-min($bp-desktop) {
    &:after {
       max-width: 91.2rem;
    }
  }

  p.page-header__title {
    color: $grey;
  }

}

.slate--light {
  background-color: $off-white;
}

.slate--grey {
  background-color: $grey;
}

.slate--mid-grey {
  background-color: lighten($grey-light, 2.5%);
}

.slate--grey-bar {

  &:after {
    background-color: $grey;
  }
}

.slate--blue {
  background-color: lighten($azure, 55%);

  &:after {
    background-color: $teal;
  }

  p.page-header__title {
    color: $teal;
  }
}

.slate--green {
  background-color: $clear-day;

  &:after {
    background-color: $aqua-deep;
  }

  p.page-header__title {
    color: $aqua-deep;
  }
}

.slate--light-green {
  background-color: lighten($ons-green, 50%);

  &:after {
    background-color: $ons-green;
  }

  p.page-header__title {
    color: $ons-green;
  }
}

.slate--red {
  background-color: $carousel-pink;

  &:after {
    background-color: $crispin-red;
  }

  p.page-header__title {
    color: $crispin-red;
  }
}

.slate--hero-banner {
  background-color: $grey;
  background-image: url("../img/hero-banner.jpg");
  background-position: 50% 50%;
  background-size: cover;
}


