.table-of-contents {
  counter-reset: toc;

  a {
    display: block;
    margin-bottom: 1rem;

    &:before {
      content: counter(toc) ". ";
      counter-increment: toc;
    }
  }
}

.table-of-contents-ordered-list {
    padding: 0;

        li {
            margin-left: 2em;
        }
}

@include respond-min($bp-tablet) {
    .table-of-contents-ordered-list {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        -ms-column-count: 3;
        column-count: 3;

        // a {
        //   display: inline-flex;
        // }

        li {
          -webkit-column-break-inside:avoid;
          -moz-column-break-inside:avoid;
          -o-column-break-inside:avoid;
          -ms-column-break-inside:avoid;
          column-break-inside:avoid;
        }
    }
  }
